<div>
    <h2 class="page-header">Dropdowns</h2>

    <h3>Color variations</h3>

    <div class="row">
        <div class="col-sm-3">
            <div class="dropdown">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    .btn-dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="active"><a href="#">Active menu item</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="dropdown">
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    .btn-ghost
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="dropdown">
                <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="btn-contents">
                        <div>
                            .btn-nav
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <span class="subtext">Some complimentary text</span>
                    </div>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3 text-right">
            <div class="dropdown">
                <button class="btn btn-dropdown-inverse dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    .btn-dropdown-inverse
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-inverse dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">Enabled items</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="active"><a href="#">Active item</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Disabled items</li>
                    <li class="disabled"><a>Action</a></li>
                    <li class="disabled"><a>Another action</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h3>Left aligned secondary dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Left aligned
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <h3>Right aligned ghost dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Right aligned
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h3>Right aligned nested dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownNestedMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Right aligned
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownNestedMenu1">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li class="dropdown-submenu">
                        <a href="javascript:;">Nested dropdown<i class="fa fa-caret-right pull-right"></i></a>
                        
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;"  onclick="console.log('clicked')">Nested Dropdown Item 1</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 4</a></li>
                            
                            <li class="divider" role="separator"></li>
                            <li><a href="javascript:;"><span>Separated item</span></a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <h3>Left aligned nested dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownNestedMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Left aligned nested dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownNestedMenu2">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="dropdown-submenu submenu-left">
                        <a href="javascript:;">Nested dropdown<i class="fa fa-caret-right pull-right"></i></a>
                        
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Nested Dropdown Item 1</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 4</a></li>
                            
                            <li class="divider" role="separator"></li>
                            <li><a href="javascript:;"><span>Separated item</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">

            <h3>Disabled dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    Disabled
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4">


            <h3>Dropdown with headers and dividers</h3>

            <div class="dropdown">
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Headers and divider
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">Header 1</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="dropdown-header">Header 2</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4">

            <h3>Dropdown with disabled menu items</h3>

            <div class="dropdown">
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Disabled menu items
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">Enabled items</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Disabled items</li>
                    <li class="disabled"><a>Action</a></li>
                    <li class="disabled"><a>Another action</a></li>
                </ul>
            </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">

            <h3>Dropup menu</h3>

            <div class="dropup">
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropup menu
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4">

            <h3>Dropdown minimum width</h3>

            <div class="dropdown" style="margin-bottom: 20px">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Min width
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>

            <i class="fa fa-exclamation-circle"></i>
            <em>
                All dropdowns have a minimum width of <code>160px</code>
            </em>

        </div>
    </div>

    <hr>

    <h3>Dropdown full width</h3>

    <div class="full-width-container">
        <div class="dropdown">
            <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                This button opens a full width menu
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-block" aria-labelledby="dropdownMenu1">
                <li><a href="#">Menu item 1</a></li>
                <li><a href="#">Menu item 2</a></li>
                <li><a href="#">Menu item 3</a></li>
                <li><a href="#">Menu item 4</a></li>
            </ul>
        </div>
    </div>

    <h3>Dropdown with block button</h3>

    <div class="full-width-container">
        <div class="dropdown">
            <button class="btn btn-dropdown btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Full width button
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Menu item 1</a></li>
                <li><a href="#">Menu item 2</a></li>
                <li><a href="#">Menu item 3</a></li>
                <li><a href="#">Menu item 4</a></li>
            </ul>
        </div>
    </div>

    <i class="fa fa-exclamation-circle"></i>
    <em>
        <code>.dropdown-menu-block</code> will make the dropdown menu the same width as the parent container
    </em>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h3>Icon dropdowns left</h3>

            <div class="dropdown">
                <button class="btn-ghost-alt btn-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-arrow">
                    <li><a href="#">Menu item 1</a></li>
                    <li><a href="#">Menu item 2</a></li>
                    <li><a href="#">Menu item 3</a></li>
                    <li><a href="#">Menu item 4</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>Icon dropup</h3>

            <div class="dropup">
                <button class="btn-ghost-alt btn-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-arrow">
                    <li><a href="#">Menu item 1</a></li>
                    <li><a href="#">Menu item 2</a></li>
                    <li><a href="#">Menu item 3</a></li>
                    <li><a href="#">Menu item 4</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <h3>Icon dropdowns right</h3>

            <div class="dropdown">
                <button class="btn-ghost-alt btn-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <li><a href="#">Menu item 1</a></li>
                    <li><a href="#">Menu item 2</a></li>
                    <li><a href="#">Menu item 3</a></li>
                    <li><a href="#">Menu item 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h3>Icon dropdowns left with nested dropdown</h3>

            <div class="dropdown">
                <button class="btn-ghost-alt btn-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-arrow">
                    <li><a href="#">Menu item 1</a></li>
                    <li><a href="#">Menu item 2</a></li>
                    <li class="dropdown-submenu">
                        <a href="javascript:;">Nested dropdown<i class="fa fa-caret-right pull-right"></i></a>
                        
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Nested Dropdown Item 1</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                            <li><a href="javascript:;">Nested Dropdown Item 4</a></li>
                            
                            <li class="divider" role="separator"></li>
                            <li><a href="javascript:;"><span>Separated item</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">Menu item 4</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>Icon dropup</h3>

            <div class="dropup">
                <button class="btn-ghost-alt btn-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-arrow">
                    <li><a href="#">Menu item 1</a></li>
                    <li><a href="#">Menu item 2</a></li>
                    <li><a href="#">Menu item 3</a></li>
                    <li><a href="#">Menu item 4</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <h3>Icon dropdowns right</h3>

            <div class="dropdown">
                <button class="btn-ghost-alt btn-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <li><a href="#">Menu item 1</a></li>
                    <li><a href="#">Menu item 2</a></li>
                    <li><a href="#">Menu item 3</a></li>
                    <li><a href="#">Menu item 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
