app-dropdowns {
    .full-width-container {
        width: 550px;
        border: 1px solid #ffffff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: $border-radius-base;
    }

    .preselected{
        .dropdown-menu{
            height: 200px;
            overflow-y: scroll;
        }
    }
}
