<div>
    <h2 class="page-header">Dropdowns</h2>

    <h3>Usage</h3>

    <pre><code>{{"import \{ DropdownsModule \} from 'nw-style-guide/dropdowns';

...........
...........

@NgModule({
    declarations: [...],
    imports: [
        .....
        .....
        DropdownsModule
    ],
    bootstrap: [AppComponent]
})
export class AppModule \{ \}"}}</code></pre>

    <h3>Color variations</h3>

    <div class="row">
        <div class="col-sm-3">
            <div class="dropdown" nwDropdown>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                    .btn-secondary
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="active"><a href="#">Active menu item</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="dropdown" nwDropdown>
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                    .btn-ghost
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3 text-right">
            <div class="dropdown" nwDropdown>
                <button class="btn btn-secondary-inverse dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                    .btn-secondary-inverse
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-inverse dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">Enabled items</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="active"><a href="#">Active item</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Disabled items</li>
                    <li class="disabled"><a>Action</a></li>
                    <li class="disabled"><a>Another action</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h3>Right aligned nested dropdown</h3>

            <div class="dropdown" nwDropdown [autoClose]="false">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownNestedMenu1" nwDropdownToggle>
                    Auto close false
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownNestedMenu1">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>

                    <!-- Hover example -->
                    <ul class="dropdown-submenu" nwDropdown>
                        <li nwDropdownToggle nwTrigger="hover">
                            <a href="javascript:;">Hover on me<i class="fas fa-caret-right pull-right"></i></a>

                            <ul class="dropdown-menu" nwDropdownMenu>
                                <li><a href="javascript:;">Nested Dropdown Item 1</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 4</a></li>

                                <li class="divider" role="separator"></li>
                                <li><a href="javascript:;"><span>Separated item</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Click example -->
                    <ul class="dropdown-submenu" nwDropdown [autoClose]="'outside'">
                        <li>
                            <a href="javascript:;" nwDropdownToggle>Click me<i class="fas fa-caret-right pull-right"></i></a>

                            <ul class="dropdown-menu" nwDropdownMenu>
                                <li><a href="javascript:;">This menu will close on a click outside it</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 1</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 4</a></li>

                                <li class="divider" role="separator"></li>
                                <li><a href="javascript:;"><span>Separated item</span></a></li>
                                <!-- Deeply nested -->
                                <ul class="dropdown-submenu" nwDropdown>
                                    <li nwDropdownToggle nwTrigger="hover">
                                        <a href="javascript:;">Hover on me<i class="fas fa-caret-right pull-right"></i></a>

                                        <ul class="dropdown-menu" nwDropdownMenu>
                                            <li><a href="javascript:;">Nested Dropdown Item 1</a></li>
                                            <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                                            <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                                            <li><a href="javascript:;">Nested Dropdown Item 4</a></li>

                                            <li class="divider" role="separator"></li>
                                            <li><a href="javascript:;"><span>Separated item</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                    </ul>
                    <li><a href="javascript:;">Another action</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <h3>Left aligned nested dropdown</h3>

            <div class="dropdown" nwDropdown>
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownNestedMenu2" nwDropdownToggle>
                    Left aligned nested dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownNestedMenu2">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <ul class="dropdown-submenu submenu-left" nwDropdown>
                        <li nwDropdownToggle nwTrigger="hover">
                            <a href="javascript:;">Nested dropdown<i class="fas fa-caret-right pull-right"></i></a>

                            <ul class="dropdown-menu" nwDropdownMenu>
                                <li><a href="javascript:;">Nested Dropdown Item 1</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                                <li><a href="javascript:;">Nested Dropdown Item 4</a></li>

                                <li class="divider" role="separator"></li>
                                <li><a href="javascript:;"><span>Separated item</span></a></li>
                            </ul>
                        </li>

                    </ul>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">

            <h3>Disabled dropdown</h3>

            <div class="dropdown" nwDropdown>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle disabled>
                    Disabled
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4">


            <h3>Dropdown with headers and dividers</h3>

            <div class="dropdown" nwDropdown>
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                    Headers and divider
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">Header 1</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="dropdown-header">Header 2</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4">

            <h3>Dropdown with disabled menu items</h3>

            <div class="dropdown" nwDropdown>
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                    Disabled menu items
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">Enabled items</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Disabled items</li>
                    <li class="disabled"><a>Action</a></li>
                    <li class="disabled"><a>Another action</a></li>
                </ul>
            </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">

            <h3>Dropup menu</h3>

            <div class="dropup" nwDropdown>
                <button class="btn btn-ghost dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                    Dropup menu
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4">

            <h3>Dropdown minimum width</h3>

            <div class="dropdown" nwDropdown style="margin-bottom: 20px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                    Min width
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" nwDropdownMenu aria-labelledby="dropdownMenu1">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>

            <i class="fas fa-exclamation-circle"></i>
            <em>
                All dropdowns have a minimum width of <code>160px</code>
            </em>

        </div>
    </div>

    <hr>

    <h3>Append dropdown to body</h3>

    <p style="margin-bottom: 16px;">
        To append the dropdown menu to the body, the recommended approach is to leverage the popover module from <code>ngx-bootstrap</code>. It is also recommended to use the <code>containerClass</code> with at least <code>popover-dropdown</code>. This class will remove a lot of base popver styling.
    </p>

    <div class="dropdown">
        <button class="btn btn-md btn-secondary"
            [popover]="dropdownMenuRef"
            container="body"
            containerClass="popover-dropdown"
            placement="left"
            [outsideClick]="true">
            Append to body
        </button>
    </div>

    <ng-template #dropdownMenuRef>
        <ul class="dropdown-menu" style="display: block; top: 15px;">
            <li><a href="#">Menu item 1</a></li>
            <li><a href="#">Menu item 2</a></li>
            <li><a href="#">Menu item 3</a></li>
            <li><a href="#">Menu item 4</a></li>
            <ul class="dropdown-submenu" nwDropdown>
                <li nwDropdownToggle nwTrigger="hover">
                    <a href="javascript:;">Nested dropdown<i class="fas fa-caret-right pull-right"></i></a>

                    <ul class="dropdown-menu" nwDropdownMenu>
                        <li><a href="javascript:;">Nested Dropdown Item 1</a></li>
                        <li><a href="javascript:;">Nested Dropdown Item 2</a></li>
                        <li><a href="javascript:;">Nested Dropdown Item 3</a></li>
                        <li><a href="javascript:;">Nested Dropdown Item 4</a></li>

                        <li class="divider" role="separator"></li>
                        <li><a href="javascript:;"><span>Separated item</span></a></li>
                    </ul>
                </li>
            </ul>
        </ul>
    </ng-template>

    <pre style="margin-top: 16px;"><code [innerText]="popoverExample"></code></pre>

    <hr>

    <h3>Dropdown backdrop</h3>

    <p>To render a backdrop to catch background clicks insert an element with the class <code>dropdown-backdrop</code> as the first child of your <code>.dropdown</code> element.</p>
    <em><i class="fas fa-exclamation-circle"></i> Backdrops should not be used if <code>autoClose</code> is set to <code>false</code></em>
    <hr>

    <h3>Dropdown full width</h3>

    <div class="full-width-container">
        <div class="dropdown" nwDropdown>
            <div class="dropdown-backdrop"></div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" nwDropdownToggle>
                This button opens a full width menu (with a backdrop)
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-block" aria-labelledby="dropdownMenu1" nwDropdownMenu>
                <li><a href="#">Menu item 1</a></li>
                <li><a href="#">Menu item 2</a></li>
                <li><a href="#">Menu item 3</a></li>
                <li><a href="#">Menu item 4</a></li>
            </ul>
        </div>
    </div>

    <h3>Dropdown with block button</h3>

    <div class="full-width-container">
        <div class="dropdown" nwDropdown>
            <button class="btn btn-secondary btn-block dropdown-toggle" type="button" nwDropdownToggle>
                Full width button
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" nwDropdownMenu>
                <li><a href="#">Menu item 1</a></li>
                <li><a href="#">Menu item 2</a></li>
                <li><a href="#">Menu item 3</a></li>
                <li><a href="#">Menu item 4</a></li>
            </ul>
        </div>
    </div>

    <i class="fas fa-exclamation-circle"></i>
    <em>
        <code>.dropdown-menu-block</code> will make the dropdown menu the same width as the parent container
    </em>

    <hr>

</div>
