<div>
    <h2 class="page-header">Dropdowns</h2>

    <h3>Usage</h3>

    <p>
        Import <code>DropdownsModule</code> to your imports in AppModule. 
        If it's being used in a standalone component import into the components imports array
    </p>

    <hr>

    <h3>Color variations</h3>

    <div class="row">
        <div class="col-sm-3">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu1">
                    .btn-secondary
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu1>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1">
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                        <button cdkMenuItem class="menu-item">Something else here</button>
                        <button cdkMenuItem class="menu-item active">Active menu item</button>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="dropdown">
                <button class="btn btn-ghost" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu2">
                    .btn-ghost
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu2>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1">
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                        <button cdkMenuItem class="menu-item">Something else here</button>
                        <hr role="separator" class="divider"/>
                        <button cdkMenuItem class="menu-item">Separated link</button>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="col-sm-3 text-right">
            <div class="dropdown">
                <button class="btn btn-secondary-inverse" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu3">
                    .btn-secondary-inverse
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu3>
                    <div class="dropdown-menu dropdown-menu-inverse" cdkMenu aria-labelledby="dropdownMenu1">
                        <div class="dropdown-header">Enabled items</div>
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                        <button cdkMenuItem class="menu-item active">Active item</button>
                        <hr role="separator" class="divider"/>
                        <div class="dropdown-header">Disabled items</div>
                        <button cdkMenuItem disabled class="menu-item">Action</button>
                        <button cdkMenuItem disabled class="menu-item">Another action</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h3>Right aligned nested dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownNestedMenu1" nwDropdown [autoClose]="false" [cdkMenuTriggerFor]="dropdownNestedMenu4">
                    Auto close false
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownNestedMenu4>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownNestedMenu1">
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                        <button cdkMenuItem class="menu-item" [cdkMenuTriggerFor]="submenu1">Hover on me<i class="fas fa-caret-right pull-right"></i></button>
                        <button cdkMenuItem class="menu-item" [cdkMenuTriggerFor]="submenu2">Click me<i class="fas fa-caret-right pull-right"></i></button>
                        <button cdkMenuItem class="menu-item">Another action</button>

                        <!-- Hover example -->
                        <ng-template #submenu1>
                            <div class="dropdown-menu" cdkMenu>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 1</button>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 2</button>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 3</button>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 4</button>

                                <hr class="divider" role="separator"/>
                                <button cdkMenuItem class="menu-item">Separated item</button>
                            </div>
                        </ng-template>
                        <!-- Click example -->
                         <ng-template #submenu2>
                            <div class="dropdown-menu" cdkMenu>
                               <button cdkMenuItem class="menu-item">This menu will close on a click outside it</button>
                               <button cdkMenuItem class="menu-item">Nested Dropdown Item 1</button>
                               <button cdkMenuItem class="menu-item">Nested Dropdown Item 2</button>
                               <button cdkMenuItem class="menu-item">Nested Dropdown Item 3</button>
                               <button cdkMenuItem class="menu-item">Nested Dropdown Item 4</button>
        
                               <hr class="divider" role="separator"/>
                               <button cdkMenuItem class="menu-item">Separated item</button>
                               <button cdkMenuItem class="menu-item" [cdkMenuTriggerFor]="submenu3">Hover on me<i class="fas fa-caret-right pull-right"></i></button>
                            </div>
                         </ng-template>
                         <!-- Deeply nested -->
                         <ng-template #submenu3>
                            <div class="dropdown-menu" cdkMenu>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 1</button>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 2</button>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 3</button>
                                <button cdkMenuItem class="menu-item">Nested Dropdown Item 4</button>

                                <hr class="divider" role="separator"/>
                                <button cdkMenuItem class="menu-item">Separated item</button>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <h3>Left aligned nested dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-ghost" type="button" id="dropdownNestedMenu2" 
                    [cdkMenuTriggerFor]="dropdownNestedMenu5"
                    [cdkMenuPosition]="[{originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top'}]">
                    Left aligned nested dropdown
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownNestedMenu5>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownNestedMenu2">
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                        <button cdkMenuItem class="menu-item" [cdkMenuTriggerFor]="submenu4"
                            [cdkMenuPosition]="[{originX: 'start', originY: 'top', overlayX: 'end', overlayY: 'top'}]">
                            Nested dropdown<i class="fas fa-caret-right pull-right"></i>
                        </button>
                        <button cdkMenuItem class="menu-item">Something else here</button>
                        <hr class="divider" role="separator"/>
                        <button cdkMenuItem class="menu-item">Separated link</button>
                    </div>
                </ng-template>
                <ng-template #submenu4>
                    <div class="dropdown-menu" cdkMenu>
                        <button cdkMenuItem class="menu-item">Nested Dropdown Item 1</button>
                        <button cdkMenuItem class="menu-item">Nested Dropdown Item 2</button>
                        <button cdkMenuItem class="menu-item">Nested Dropdown Item 3</button>
                        <button cdkMenuItem class="menu-item">Nested Dropdown Item 4</button>

                        <hr class="divider" role="separator"/>
                        <button cdkMenuItem class="menu-item">Separated item</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">

            <h3>Disabled dropdown</h3>

            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu6" disabled>
                    Disabled
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu6>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1">
                        <button>Action</button>
                    </div>
                </ng-template>
            </div>

        </div>

        <div class="col-sm-4">


            <h3>Dropdown with headers and dividers</h3>

            <div class="dropdown">
                <button class="btn btn-ghost" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu7">
                    Headers and divider
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu7>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1">
                        <div class="dropdown-header">Header 1</div>
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                        <hr role="separator" class="divider"/>
                        <button cdkMenuItem class="menu-item">Separated link</button>
                        <button cdkMenuItem class="menu-item">Something else here</button>
                        <div class="dropdown-header">Header 2</div>
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                    </div>
                </ng-template>
            </div>

        </div>

        <div class="col-sm-4">

            <h3>Dropdown with disabled menu items</h3>

            <div class="dropdown">
                <button class="btn btn-ghost" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu8">
                    Disabled menu items
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu8>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1">
                        <div class="dropdown-header">Enabled items</div>
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                        <hr role="separator" class="divider"/>
                        <div class="dropdown-header">Disabled items</div>
                        <button cdkMenuItem disabled class="menu-item">Action</button>
                        <button cdkMenuItem disabled class="menu-item">Another action</button>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">

            <h3>Dropup menu</h3>

            <div class="dropup">
                <button class="btn btn-ghost" type="button" id="dropdownMenu1" 
                    [cdkMenuTriggerFor]="dropdownMenu9"
                    [cdkMenuPosition]="[{originX: 'start', originY: 'top', overlayX: 'start', overlayY: 'bottom'}]">
                    Dropup menu
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu9>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1">
                        <button cdkMenuItem class="menu-item">Action</button>
                        <button cdkMenuItem class="menu-item">Another action</button>
                    </div>
                </ng-template>
            </div>

        </div>

        <div class="col-sm-4">

            <h3>Dropdown minimum width</h3>

            <div class="dropdown" style="margin-bottom: 20px">
                <button class="btn btn-secondary" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu10">
                    Min width
                    <span class="caret"></span>
                </button>
                <ng-template #dropdownMenu10>
                    <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1">
                        <button cdkMenuItem class="menu-item">1</button>
                        <button cdkMenuItem class="menu-item">2</button>
                        <button cdkMenuItem class="menu-item">3</button>
                        <button cdkMenuItem class="menu-item">4</button>
                    </div>
                </ng-template>
            </div>

            <i class="fas fa-exclamation-circle"></i>
            <em>
                All dropdowns have a minimum width of <code>160px</code>
            </em>

        </div>
    </div>

    <hr>

    <h3>Dopdown with selected option highlighted and visible</h3>
    <p>Dropdown menu will automatically scroll to item with <code>.active</code> class</p>
    <div class="preselected my-16">
        <div class="dropdown">
            <button class="btn btn-secondary" id="preselected-dropdown" [cdkMenuTriggerFor]="dropdownMenu11">
                {{selectedItem.value}}
                <span class="caret"></span>
            </button>
            <ng-template #dropdownMenu11>
                <div class="dropdown-menu dropdown-menu-inverse scrollable" aria-labelledby="preselected-dropdown" nwDropdownMenu cdkMenu>
                    @for (item of dropdownItems; track item.value) {
                        <button class="menu-item" cdkMenuItem [class.active]="selectedItem === item" (click)="selectedItem = item">{{item.value}}</button>
                    }
                </div>
            </ng-template>
        </div>
    </div>

    <hr>

    <h3>Append dropdown to body</h3>

    <p style="margin-bottom: 16px;">
        To append the dropdown menu to the body, the recommended approach is to leverage the popover module
    </p>

    <div class="dropdown">
        <button class="btn btn-md btn-secondary"
            [nwPopover]="dropdownMenuRef"
            containerClass="popover-dropdown"
            placement="bottom-start"
            [closeOnOutsideClick]="true"
            [withArrow]="false">
            Append to body
        </button>
    </div>

    <ng-template #dropdownMenuRef>
        <div class="dropdown-menu" cdkMenu>
            <button cdkMenuItem class="menu-item">Menu item 1</button>
            <button cdkMenuItem class="menu-item">Menu item 2</button>
            <button cdkMenuItem class="menu-item">Menu item 3</button>
            <button cdkMenuItem class="menu-item">Menu item 4</button>
            <button cdkMenuItem class="menu-item" [cdkMenuTriggerFor]="nestedDropdown" nwDropdownToggle nwTrigger="hover">
                Nested dropdown<i class="fas fa-caret-right pull-right"></i>
            </button>
            <ng-template #nestedDropdown>
                <div class="dropdown-menu" cdkMenu>
                    <button cdkMenuItem class="menu-item">Nested Dropdown Item 1</button>
                    <button cdkMenuItem class="menu-item">Nested Dropdown Item 2</button>
                    <button cdkMenuItem class="menu-item">Nested Dropdown Item 3</button>
                    <button cdkMenuItem class="menu-item">Nested Dropdown Item 4</button>
                    <hr class="divider" role="separator"/>
                    <button cdkMenuItem class="menu-item">Separated item</button>
                </div>
            </ng-template>
        </div>
    </ng-template>

    <pre style="margin-top: 16px;"><code [innerText]="popoverExample"></code></pre>

    <hr>

    <h3>Dropdown backdrop</h3>

    <p>To render a backdrop to catch background clicks insert an element with the class <code>dropdown-backdrop</code> as the first child of your <code>.dropdown</code> element.</p>
    <em><i class="fas fa-exclamation-circle"></i> Backdrops should not be used if <code>autoClose</code> is set to <code>false</code></em>
    <hr>

    <h3>Dropdown full width</h3>
    <div class="full-width-container">
        <div class="dropdown" #fullWidth>
            <div class="dropdown-backdrop"></div>
            <button class="btn btn-secondary" type="button" id="dropdownMenu1" [cdkMenuTriggerFor]="dropdownMenu12">
                This button opens a full width menu (with a backdrop)
                <span class="caret"></span>
            </button>
            <ng-template #dropdownMenu12>
                <div class="dropdown-menu" cdkMenu aria-labelledby="dropdownMenu1" [style.min-width.px]="fullWidth.clientWidth">
                    <button cdkMenuItem class="menu-item">Menu item 1</button>
                    <button cdkMenuItem class="menu-item">Menu item 2</button>
                    <button cdkMenuItem class="menu-item">Menu item 3</button>
                    <button cdkMenuItem class="menu-item">Menu item 4</button>
                </div>
            </ng-template>
        </div>
    </div>

    <!--Not sure if it is worth keeping this in-->
    <h3>Dropdown with block button</h3>

    <div class="full-width-container">
        <div class="dropdown">
            <button class="btn btn-secondary btn-block" type="button" [cdkMenuTriggerFor]="dropdownMenu13">
                Full width button
                <span class="caret"></span>
            </button>
            <ng-template #dropdownMenu13>
                <div class="dropdown-menu dropdown-menu-block" cdkMenu>
                    <button cdkMenuItem class="menu-item">Menu item 1</button>
                    <button cdkMenuItem class="menu-item">Menu item 2</button>
                    <button cdkMenuItem class="menu-item">Menu item 3</button>
                    <button cdkMenuItem class="menu-item">Menu item 4</button>
                </div>
            </ng-template>
        </div>
    </div>

    <i class="fas fa-exclamation-circle"></i>
    <em>
        <code>.dropdown-menu-block</code> will make the dropdown menu the same width as the parent container
    </em>

    <hr>

    <h3>Responsive</h3>
    <p>Mouse hover events don't exist on mobile.  If nwTrigger is set to hover, this will be set to click when the screen goes below a specific size</p>
    <em><i class="fas fa-exclamation-circle"></i> Defualt size is <code>767</code></em>


    <div class="full-width-container mt-16">
        <div class="dropdown">
            <button class="btn btn-secondary btn-block" type="button" [cdkMenuTriggerFor]="dropdownMenu14" nwDropdownToggle nwTrigger="hover">
                Hover on large screen, click on small screen
                <span class="caret"></span>
            </button>
            <ng-template #dropdownMenu14>
                <div class="dropdown-menu" cdkMenu>
                    <button cdkMenuItem class="menu-item">Menu item 1</button>
                </div>
            </ng-template>
        </div>
    </div>

    <hr>

</div>
