@use 'nw-style-guide/sass/src/variables';

.live-example-form {
    padding: 16px;
    background-color: variables.$level2;
    max-width: 300px;
    margin-bottom: 16px;
    border-radius: variables.$border-radius-large;
}