<div>
    <h2 class="page-header">Modals</h2>

    <h3>Default modal</h3>

    <button type="button" class="btn btn-primary btn-lg" (click)="modalSize = 'md'; showTitle = true" data-toggle="modal" data-target="#defaultModal">
    Launch default modal
    </button>

    <button type="button" class="btn btn-primary btn-lg" (click)="modalSize = 'sm'; showTitle = true" data-toggle="modal" data-target="#defaultModal">
    Launch small modal
    </button>

    <button type="button" class="btn btn-primary btn-lg" (click)="modalSize = 'lg'; showTitle = true" data-toggle="modal" data-target="#defaultModal">
    Launch large modal
    </button>

    <button type="button" class="btn btn-primary btn-lg" (click)="modalSize = 'fullscreen'; showTitle = true" data-toggle="modal" data-target="#defaultModal">
    Launch fullscreen modal
    </button>
    <br><br><br>
    <button type="button" class="btn btn-primary btn-lg" (click)="modalSize = 'md'; showTitle = false" data-toggle="modal" data-target="#defaultModal">
        Launch default modal without title
    </button>

  <h2 class="page-header">Media Modals</h2>

  <h3>Media Modal</h3>

  <button type="button" class="btn btn-primary btn-lg" (click)="isImage = true; modalSize = 'md'; showTitle = true" data-toggle="modal" data-target="#mediaModal">
    Launch image modal
  </button>

  <button type="button" class="btn btn-primary btn-lg" (click)="isImage = false; modalSize = 'md'; showTitle = true" data-toggle="modal" data-target="#mediaModal">
    Launch video modal
  </button>

  <div class="modals">
      <div [class.modal-inverse]="isInverse" class="modal fade" tabindex="-1" role="dialog" id="defaultModal">
        <div class="modal-dialog modal-{{modalSize}}" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" *ngIf="showTitle">Modal title</h4>
              <button type="button" class="btn btn-close btn-md" [ngClass]="{'btn-ghost': !isInverse, 'btn-secondary-inverse': isInverse}" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>This is some sample modal content</p>
              <div class="radio">
                  <input type="radio" id="radio0" name="option" value="option1" (click)="invertModal(false)" checked>
                  <label for="radio0">
                      Default
                  </label>
              </div>
              <div class="radio">
                  <input type="radio" id="radio1" name="option" value="option2" (click)="invertModal(true)">
                  <label for="radio1">
                      Inverse
                  </label>
              </div>
            </div>
            <div class="modal-footer">
              <button [class.btn-secondary-inverse]="isInverse" type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-lg">Save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Media Modal -->
      <div class="modal modal-media fade" tabindex="-1" role="dialog" id="mediaModal" style="z-index: 1049">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="btn btn-lg btn-secondary btn-close" data-dismiss="modal" aria-label="Close"></button>
              <div class="media-content">
                <img
                  *ngIf="isImage"
                  src="https://images.unsplash.com/photo-1519405474421-f6a5fae2db20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                  alt="someething">
                <iframe
                  *ngIf="!isImage"
                  width="640"
                  height="390"
                  frameborder="0"
                  src="https://www.youtube.com/embed/IrjmtKWnTYY"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
