<h2 class="page-header">Animations</h2>

<p>
    Animations have been moved into the main spike project. There are 5 global animation types:
    <strong>fade-in, fade-out, grid-collapse, grid-expand and skeleton</strong>. You only need to import the stylesheet.
</p>

<hr />

<h3>Fade In/Out</h3>
<p>
    Attach <strong>animate.enter/leave</strong> to any element
    <br />
    <code>{{ 'animate.enter="fade-in"' }}</code>
    <br />
    <code>{{ 'animate.leave="fade-out"' }}</code>
</p>

<hr />

<h3>Grid Expand/Collapse</h3>
<pre><code>{{ gridSnippet }}</code></pre>
<p>
    <strong>collapse-expand-grid-container</strong> class should be the outer wrapper
    <br />
    <strong>collapse-expand-grid-item</strong> class should be on the inner wrapper
    <br />
    <code>{{ 'animate.enter="grid-expand"' }}</code>
    <br />
    <code>{{ 'animate.leave="grid-collapse"' }}</code>
</p>
<hr />

<h3>Constants</h3>

<p>
    Default animation duration: <strong>{{ duration }}</strong>
</p>
<p>
    Default animation easing: <strong>{{ easing }}</strong>
</p>
