<div class="page-header" style="padding-bottom: 0;">
    <h3>Email Input</h3>

    <p>This is an input that can be used to enter multiple emails in a form</p>

    <div class="tabs-container">
        <nw-tabs size="md">
            <li nwTab [isActive]="selectedTab === 'design'" role="presentation">
                <a [routerLink]="['.']" [queryParams]="{section: 'design'}" role="tab">Design</a>
            </li>
            <li nwTab [isActive]="selectedTab === 'api'" role="presentation">
                <a [routerLink]="['.']" [queryParams]="{section: 'api'}"  role="tab">API</a>
            </li>
        </nw-tabs>
    </div>
</div>

<div *ngIf="selectedTab === 'design'" class="tab-content">
    <h4 style="margin-bottom: 16px;">Live example</h4>

    <div class="form-group" style="margin-bottom: 16px;">
        <label for="email-input">Input Label</label>
        <nw-email-input
            [emails]="emails"
            placeholder="Custom placeholder text"
            inputId="email-input"
            (updated)="onChange($event)"></nw-email-input>
    </div>

    <div class="form-group" style="margin-bottom: 0;">
        <label for="email-input">Persistent Placeholder</label>
        <nw-email-input
            [emails]="emails"
            persistentPlaceholder="Enter Email Address"
            inputId="email-input"
            (updated)="onChange($event)"></nw-email-input>
    </div>


    <hr>

    <h3 style="margin-bottom: 16px;">Description</h3>

    <p style="margin-bottom: 16px;">An email input should be</p>

    <ol style="margin-bottom: 32px;" class="guidelines">
        <li>
            <h5 style="display: inline-block;">Discoverable</h5>
            <p>It should be easy to distinguish between elements that can have textual input vs. those that cannot.</p>
        </li>
        <li>
            <h5 style="display: inline-block;">Clear</h5>
            <p>Email input states should be clearly differentiated from one another.</p>
        </li>
        <li>
            <h5 style="display: inline-block;">Efficient</h5>
            <p>Email inputs should make it easy to understand the requested information and to address any errors.</p>
        </li>
        <li>
            <h5 style="display: inline-block;">Editable</h5>
            <p>An email input should be easily editable to enable the user to correct any errors.</p>
        </li>
    </ol>

    <hr>

    <h4 style="margin-bottom: 16px;">Usage</h4>

    <p style="margin-bottom: 16px;">
        When a user wants to add multiple emails at once they will enter text and then either use a
        <strong>comma, semicolon, space, enter or tab to confirm the input</strong>
    </p>

    <ol style="margin-bottom: 32px;">
        <li>If the text is a valid email then create a blue tag as shown below</li>
        <li>If the text is an invalid then create a red tag as shown below</li>
    </ol>
</div>

<div *ngIf="selectedTab === 'api'" class="tab-content">
    <div class="demo-section">
        <h4>Importing</h4>
        <app-code [snippet]="snippets.import"></app-code>
    </div>
    <hr>
    <div class="demo-section">
        <h4>Basic example</h4>
        <app-code [snippet]="snippets.basicExample"></app-code>
    </div>
    <hr>
    <div class="demo-section">
        <h4>Validation</h4>
        <p>Email validation is handled by Angular's built-in email validator.</p>
    </div>
    <hr>
    <div class="demo-section">
        <h4>Properties</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Default value</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prop of properties">
                    <td><code class="light">{{prop.name}}</code></td>
                    <td>
                        <code class="light" *ngIf="prop.defaultValue">{{prop.defaultValue}}</code>
                        <em *ngIf="!prop.defaultValue">N/A</em>
                    </td>
                    <td [innerHTML]="prop.description"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="demo-section">
        <h4>Classes / Interfaces</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" style="text-transform: initial;">
                        IValidationChange interface
                    </th>
                </tr>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code class="light">isValid: boolean</code></td>
                    <td>Is <code>true</code> if there is at least one email and and all emails are valid.</td>
                </tr>
                <tr>
                    <td><code class="light">emails: string[]</code></td>
                    <td>All emails, not including any text that has been typed into the input.</td>
                </tr>
                <tr>
                    <td><code class="light">control: FormControl</code></td>
                    <td>The <code>FormControl</code> instance.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>