<div>
  <h2 class="page-header">Typography</h2>

  <div>
    <h3>Type Stack</h3>

    <div class="radio">
      <input [formControl]="textColor" id="option-light" name="light-dark" type="radio" value="light">
      <label for="option-light">
        Light (.nw-text-light)
      </label>
    </div>
    <div class="radio">
      <input [formControl]="textColor" id="option-dark" name="light-dark" type="radio" value="dark">
      <label for="option-dark">
        Dark (.nw-text-dark)
      </label>
    </div>

    <table class="table table-bordered box-shadow stack-wrapper" [ngClass]="colorVariant">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Label</th>
          <th>Example</th>
          <th>size / line-height / weight</th>
          <th>Classes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>h1</td>
          <td>Large Display</td>
          <td>
            <h1>{{exampleText}}</h1>
          </td>
          <td>36px / 1.2 / normal</td>
           <td></td>
        </tr>

        <tr>
          <td>h3</td>
          <td>Standard Display</td>
          <td>
            <h3>{{exampleText}}</h3>
          </td>
          <td>24px / 1.2 / normal</td>
           <td></td>
        </tr>

        <tr>
          <td>h4</td>
          <td>Large Heading</td>
          <td>
            <h4>{{exampleText}}</h4>
          </td>
          <td>20px / 1.2 / bold</td>
           <td></td>
        </tr>

        <tr>
          <td>h5</td>
          <td>Standard Heading</td>
          <td>
            <h5>{{exampleText}}</h5>
          </td>
          <td>16px / 1.2 / bold</td>
           <td></td>
        </tr>

        <tr>
          <td>p</td>
          <td>Large Text</td>
          <td>
            <p class="text-large">{{exampleText}}</p>
          </td>
          <td>16px / 1.4 / normal</td>
          <td> text-large</td>
        </tr>

        <tr>
          <td>p</td>
          <td>Large All Caps</td>
          <td>
            <p class="text-large text-upper">{{exampleText}}</p>
          </td>
          <td>16px / 1.4 / normal</td>
          <td> text-large text-upper</td>
        </tr>

        <tr>
          <td>p</td>
          <td>Standard Text</td>
          <td>
            <p>{{exampleText}}</p>
          </td>
          <td>14px / 1.4 / normal</td>
           <td></td>
        </tr>

        <tr>
          <td>p</td>
          <td>Standard All Caps</td>
          <td>
            <p class="text-large">{{exampleText}}</p>
          </td>
          <td>16px / 1.4 / normal</td>
          <td> text-large</td>
        </tr>

        <tr>
          <td>small</td>
          <td>Small text</td>
          <td>
            <small>{{exampleText}}</small>
          </td>
          <td>12px / 1.4 / normal</td>
           <td></td>
        </tr>
      </tbody>
    </table>

    <hr>

    <h5>Notes</h5>

    <p>There are currently three font weights available</p>

    <ul>
      <li>normal</li>
      <li>bold</li>
      <li>600 (corresponds to semi-bold)</li>
    </ul>

    <hr>

    <h3>Interactive Text</h3>

    <p>
      The interactive text elements control only the color, text-decoration and cursor properties of the text. Font-weight, family
      and size are inherited.
    </p>

    <p>
      <code>:hover</code> styles take precedence over
      <code>:visited</code> styles
    </p>

    <hr>

    <div>
      <h1>
        <a [href]="randomLink" target="_blank" class="nw-link nw-link-primary">
          h1 primary interactive text
        </a>
      </h1>

      <i class="fas fa-exclamation-circle"></i>
      <em>Includes
        <code>:visited</code> styling</em>
    </div>

    <hr>

    <div>
      <h2>
        <a routerLink="/interactive-text" class="nw-link nw-link-secondary">
          h2 secondary interactive text
        </a>
      </h2>

      <i class="fas fa-exclamation-circle"></i>
      <em>Does NOT include
        <code>:visited</code> styling</em>
    </div>

    <hr>

    <div>
      <p>
        Tertiary interactive text is
        <span class="nw-link nw-link-tertiary">displayed inline</span> like this
      </p>

      <i class="fas fa-exclamation-circle"></i>
      <em>Does NOT include
        <code>:visited</code> styling</em>
    </div>

    <hr>

    <div>
      <p>
        Inline interactive text is
        <a [href]="randomLink" target="_blank" class="nw-link nw-link-inline">displayed inline</a> like this.
        <br/> Used for inline URLs and also shows a visited state.
      </p>

      <i class="fas fa-exclamation-circle"></i>
      <em>Includes
        <code>:visited</code> styling</em>
    </div>
  </div>
</div>
