<div>
  <h2 class="page-header">Tooltips</h2>
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="auto left" title="Tooltip on left">Tooltip on left</button>
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="auto top" title="Tooltip on top">Tooltip on top</button>
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="auto bottom" title="Tooltip on bottom">Tooltip on bottom</button>
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="auto right" title="Tooltip on right">Tooltip on right</button>
  <div style="margin-top: 20px;">
    <button type="button" class="btn btn-primary"
      data-toggle="tooltip" 
      data-placement="auto right" 
      title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia asperiores itaque iusto reprehenderit id alias quo molestiae omnis quia, iste dolorum deleniti voluptatem hic totam similique corrupti vitae illo vero!">Long content</button>
    <em>Tooltip has a maximum width of 300px</em>
  </div>
  <div style="margin-top: 20px;">
    <span data-toggle="tooltip" data-placement="auto right" title="Tooltip on right">Tooltip without underline</span>
  </div>
  <div style="margin-top: 20px;">
      <span class="tooltip-signal" data-toggle="tooltip" data-placement="auto right" title="Tooltip on right">Tooltip with signal</span>
      <div style="margin-top: 5px;">
        <em>Signalled tooltips are underlined and display a help cursor on hover.</em>
        <br>
        <em>Using the class <code>.tooltip-signal</code></em>
      </div>
    </div>
    <div style="margin-top: 20px;">
      <span class="tooltip-light" data-toggle="tooltip" data-placement="auto bottom" title="Tooltip with white background">Tooltips with white background</span>
      <div style="margin-top: 5px;">
        <em>We can have a tooltip having white background using class <code>.tooltip-light</code></em>
      </div>
    </div>
</div>
