<div class="page-header" style="padding-bottom: 0;">
  <h3>Tooltips</h3>

  <p>TODO: description</p>

  <div class="tabs-container">
    <nw-tabs size="md">
      <li nwTab [isActive]="selectedTab === 'design'" role="presentation">
        <a [routerLink]="['.']" [queryParams]="{section: 'design'}" role="tab">Design</a>
      </li>
      <li nwTab [isActive]="selectedTab === 'api'" role="presentation">
        <a [routerLink]="['.']" [queryParams]="{section: 'api'}" role="tab">API</a>
      </li>
    </nw-tabs>
  </div>
</div>

<div *ngIf="selectedTab === 'design'" class="tab-content">
  <h4>Tooltip variations</h4>
  
  <div style="padding-bottom: 120px; display: flex;">
    <div [style.width.px]="316">
      <span [nwPopover]="tooltipTmplRef"
        [placement]="'bottom-start'"
        [openEvents]="[]"
        [closeEvents]="[]"
        [autoFlip]="false"
        [isOpen]="true">Dark (default)</span>
    </div>
    <div [style.width.px]="316">
      <span [nwPopover]="tooltipTmplRef"
        [placement]="'bottom-start'"
        [containerClass]="'tooltip-light'"
        [openEvents]="[]"
        [closeEvents]="[]"
        [autoFlip]="false"
        [isOpen]="true">Light</span>
    </div>
  </div>

  <h4>Basic examples</h4>

  <div class="basic-examples">
    <ng-container *ngTemplateOutlet="basicExampleTooltipTmpl; context: { placement: 'top' }"></ng-container>
    <ng-container *ngTemplateOutlet="basicExampleTooltipTmpl; context: { placement: 'right' }"></ng-container>
    <ng-container *ngTemplateOutlet="basicExampleTooltipTmpl; context: { placement: 'left' }"></ng-container>
    <ng-container *ngTemplateOutlet="basicExampleTooltipTmpl; context: { placement: 'bottom' }"></ng-container>
    
    <ng-template #basicExampleTooltipTmpl let-placement="placement">
      <button class="btn btn-md btn-primary"
        [nwTooltip]="tooltipTmplRef"
        [placement]="placement">Tooltip on {{placement}}</button>
    </ng-template>
    <br>
    <br>
    <p>Tooltips (using the <code>nwTooltip</code> selector) will open on mouseenter and close on mouseleave. There is also a default delay of 500ms.</p>
    <app-code [snippet]="snippets.basicTooltip"></app-code>
  </div>

  <hr>

  <div class="basic-examples" [style.marginTop.px]="16">
    <ng-container *ngTemplateOutlet="basicExamplePopoverTmpl; context: { placement: 'top' }"></ng-container>
    <ng-container *ngTemplateOutlet="basicExamplePopoverTmpl; context: { placement: 'right' }"></ng-container>
    <ng-container *ngTemplateOutlet="basicExamplePopoverTmpl; context: { placement: 'left' }"></ng-container>
    <ng-container *ngTemplateOutlet="basicExamplePopoverTmpl; context: { placement: 'bottom' }"></ng-container>
    
    <ng-template #basicExamplePopoverTmpl let-placement="placement">
      <button class="btn btn-md btn-primary"
        [nwPopover]="tooltipTmplRef"
        [placement]="placement">Popover on {{placement}}</button>
    </ng-template>
    <br>
    <br>
    <p>Tooltips (using the <code>nwPopover</code> selector) will open and close on click. There is no default delay.</p>
    <app-code [snippet]="snippets.basicPopover"></app-code>
  </div>
  <hr>
  <h4 [style.marginTop.px]="16">Additional positioning options</h4>

  <p>There are a total of 12 placement options.</p>

  <div style="display: flex">
    <div style="margin-right: 64px">
      <form [formGroup]="form">
        <div class="form-group">
          <select formControlName="placement" class="form-control">
            <option [value]="'top'">top</option>
            <option [value]="'top-start'">top-start</option>
            <option [value]="'top-end'">top-end</option>
            <option [value]="'bottom'">bottom</option>
            <option [value]="'bottom-start'">bottom-start</option>
            <option [value]="'bottom-end'">bottom-end</option>
            <option [value]="'right'">right</option>
            <option [value]="'right-start'">right-start</option>
            <option [value]="'right-end'">right-end</option>
            <option [value]="'left'">left</option>
            <option [value]="'left-start'">left-start</option>
            <option [value]="'left-end'">left-end</option>
          </select>
        </div>
      </form>
    </div>
    
    <div>
      <button class="btn btn-md btn-primary"
        [nwPopover]="tooltipTmplRef"
        [placement]="form.get('placement').value"
        [autoFlip]="false">Click to toggle</button>
    </div>
  </div>

  <ng-template #tooltipTmplRef>
    {{form.get('tooltip').value}}
  </ng-template>
</div>

<div *ngIf="selectedTab === 'api'" class="tab-content">
  <button class="btn btn-md btn-primary"
    [nwTooltip]="'Testing some stuff'"
    [placement]="'bottom'">Click to toggle</button>
</div>