<div>
    <h2 class="page-header">Feature Alerts</h2>

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h3>Popovers</h3>
            <div>
                <div class="feature-alert-examples">
                    <p nw-feature-alert [params]="getFeatureAlertParams1()"
                       (callToActionClick)="onCTAClick1()">
                        Feature Alert Right
                    </p>

                    <p nw-feature-alert [params]="getFeatureAlertParams2()"
                       (callToActionClick)="onCTAClick2()">
                        Feature Alert Left
                    </p>

                    <p nw-feature-alert [params]="getFeatureAlertParams3()"
                       (callToActionClick)="onCTAClick3()">
                        Feature Alert Bottom
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore <em nw-feature-alert [params]="getFeatureAlertParams4()"
                                             (callToActionClick)="onCTAClick4()">magna aliqua.</em> Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat <em nw-feature-alert [params]="getFeatureAlertParams5()"
                                                                         (callToActionClick)="onCTAClick5()">nulla</em> pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

                <p>
                    <button class="btn btn-primary" (click)="clearLocalStorage()">
                        Clear Local Storage and Reload Page
                    </button>
                </p>

                <p class="message">{{message}}</p>
            </div>

            <h3>Hotspots</h3>

            <div style="margin-bottom: 20px;">
                <button class="btn btn-primary" style="position: relative;" (mouseenter)="hs1.dismiss()">
                    Dismiss on hover
                    <nw-hotspot #hs1 id="testHotspot"></nw-hotspot>
                </button>
            </div>

            <div style="margin-bottom: 20px;">
                <button class="btn btn-primary" style="position: relative;" (click)="hs2.dismiss()">
                    Dismiss on click
                    <nw-hotspot #hs2  id="testHotspot2" position="right"></nw-hotspot>
                </button>
            </div>

            <div style="margin-bottom: 20px;">
                <button class="btn btn-primary" style="position: relative;" (focus)="hs3.dismiss()">
                    Dismiss on focus
                    <nw-hotspot #hs3  id="testHotspot3" position="top"></nw-hotspot>
                </button>
            </div>

            <div style="margin-bottom: 20px;">
                <button class="btn btn-primary" style="position: relative;" (mouseleave)="hs4.dismiss()">
                    Dismiss on mouseleave
                    <nw-hotspot #hs4  id="testHotspot4" position="bottom"></nw-hotspot>
                </button>
            </div>

            <div>
                <h3>Usage</h3>

                <p>This module requires the dependency <code>ngx-bootstrap</code> because the feature alerts rely on
                  its <a href="https://valor-software.com/ngx-bootstrap/#/popover">popover</a> functionality.
                </p>

            </div>
        </div>
    </div>
</div>
