.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, 14px, $line-height-base, $btn-border-radius-base);
    user-select: none;
    border-style: solid;
    border-width: 1px;

    &:focus,
    &.focus {
        outline: none;
    }

    &:hover {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    &:active {
        outline: none;
        box-shadow: none;
        border-style: solid;
        transform: translateY(1px);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: .50;
        box-shadow: none;
    }
    // Icons inside buttons
    .btn-icon {
        margin-right: 8px;
    }
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}


// Alternate buttons
// --------------------------------------------------
.btn-primary {
    @include button-variant(
        $text-color,
        $text-color,
        get-color('primary'),
        get-color('primary', light));
}
.btn-secondary {
    @include button-variant(
        $text-color,
        $text-color,
        rgba($text-color, 0.15),
        rgba($text-color, 0.20));
}
.btn-secondary-inverse {
    @include button-variant(
        get-color("gray", base),
        get-color("gray", base),
        get-color("gray", 6x-light),
        get-color("gray", 5x-light));
}
.btn-danger {
    @include button-variant(
        $text-color,
        $text-color,
        get-color('tertiary'),
        get-color('tertiary', light));
}
.btn-alt {
    @include button-variant(
        $text-color,
        get-color('primary', 2x-light),
        transparent,
        transparent,
        $text-color,
        get-color('primary', 2x-light));
}
.btn-ghost {
    @include button-variant(
        $text-color,
        $text-color,
        transparent,
        rgba($text-color, 0.1));
}
.btn-dropdown {
    @extend .btn-secondary;
}
.btn-dropdown-inverse {
    @extend .btn-secondary-inverse;
}
.btn-ghost-alt {
    @include button-variant(
        $text-color,
        get-color('primary', 2x-light),
        transparent,
        transparent);
}
.btn-activate {
    @include button-variant(
        $text-color,
        $text-color,
        get-color("secondary", base),
        get-color("secondary", light));
}
// applying sizes to this element will not do anything
// as currently this button has a fixed size
.btn-carousel {
    @include button-variant(
        get-color('primary'),
        get-color('primary', light),
        transparent,
        transparent);

    padding: 16px 0 !important;

    &:focus {
        box-shadow: none;
    }

    &,
    &.btn-carousel-next {
        &:before {
            position: relative;
            left: -4px;
            height: 30px;
            width: 30px;
            content: '';
            display: block;
            border-right: 3px solid get-color("primary");
            border-bottom: 3px solid get-color("primary");
            transform: rotate(-45deg) skew(-20deg, -20deg);
        }
    }
    &.btn-carousel-prev {
        &:before {
            left: 4px;
            transform: rotate(-225deg) skew(-20deg, -20deg);
        }
    }
}

// Button Sizes
// --------------------------------------------------

.btn-xl {
    @include button-size($padding-xl-vertical, $padding-xl-horizontal, $font-size-xl, $line-height-xl, $btn-border-radius-xl);

    &.btn-round {
        @include button-round($font-size-xl, $line-height-xl, $padding-xl-vertical);
    }

    &.btn-close {
        @include button-close($font-size-xl, $line-height-xl, $padding-xl-vertical)
    }
}
.btn-lg {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);

    &.btn-round {
        @include button-round($font-size-large, $line-height-large, $padding-large-vertical);
    }

    &.btn-close {
        @include button-close($font-size-large, $line-height-large, $padding-large-vertical)
    }
}
.btn-md {
    @include button-size($padding-base-vertical, $padding-base-horizontal, 14px, $line-height-base, $btn-border-radius-base);

    &.btn-round {
        @include button-round(14px, $line-height-base, $padding-base-vertical);
    }

    &.btn-close {
        @include button-close(14px, $line-height-base, $padding-base-vertical)
    }
}
.btn-sm {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);

    &.btn-round {
        @include button-round($font-size-small, $line-height-small, $padding-small-vertical);
    }

    &.btn-close {
        @include button-close($font-size-small, $line-height-small, $padding-small-vertical)
    }
}
.btn-xs {
    @include button-size(0, 7px, 12px, 1.333333333333, 9px);

    &.btn-round {
        @include button-round(12px, 1.333333333333, 0);
    }

    &.btn-close {
        @include button-close(12px, 1.333333333333, 0)
    }
}
.btn-slim {
    padding-left: 0;
    padding-right: 0;
}
.btn-no-padding {
    padding: 0;
}

// Block button
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}
.btn-unstyled {
    background: transparent;
    border: none;
    margin: 0;
}
.dropdown,
.dropup {
    .btn-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
