// Override button margins
.btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left: 2px !important;
    }
}

// Reposition the caret
.btn .caret {
    margin-left: 8px;
}
// Carets in other button sizes
.btn-lg .caret {
    border-width: $caret-width-large $caret-width-large 0;
    border-bottom-width: 0;
}
// Upside down carets for .dropup
.dropup .btn-lg .caret {
    border-width: 0 $caret-width-large $caret-width-large;
}
.btn-group-responsive {
	display: flex;
	flex-direction: row;

	> .btn {
        display: flex;
        align-items: center;
        justify-content: center;
		flex-grow: 1;
        flex-basis: 0;
        overflow: hidden;
        padding: 0;
	}
}
.btn-group-responsive-xl {
    height: ceil($font-size-xl * $line-height-xl) + ($padding-xl-vertical * 2) + 2;
}
.btn-group-responsive-lg {
    height: ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2;
}
.btn-group-responsive-md {
    height: ceil($font-size-base * $line-height-base) + ($padding-base-vertical * 2) + 2;
}
.btn-group-responsive-sm {
    height: ceil($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2;
}
