.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    user-select: none;
    border-style: solid;
    border-width: 1px;

    &:hover,
    &:focus,
    &.focus {
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: none;
        @include tab-focus();
    }

    &:active,
    &.active {
        outline: 0;
        border-style: solid;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: .50;
        box-shadow: none;
    }
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}


// Alternate buttons
// --------------------------------------------------
.btn-primary {
    @include button-variant(
        #ffffff,
        #ffffff,
        get-color('primary'),
        get-color('primary', dark));
}
.btn-secondary {
    @include button-variant(
        #ffffff,
        #ffffff,
        get-color("gray", x-light),
        get-color("gray", 2x-light));
}
.btn-danger {
    @include button-variant(
        #ffffff,
        #ffffff,
        get-color('tertiary'),
        get-color('tertiary', dark));
}
.btn-alt {
    @include button-variant(
        get-color('gray', 4x-light),
        get-color('primary', 2x-light),
        transparent,
        transparent,
        get-color('gray', 4x-light),
        get-color('primary', 2x-light));
}
.btn-ghost {
    @include button-variant(
        get-color('gray', 4x-light),
        get-color('primary', 2x-light),
        transparent,
        get-color("gray", dark));
}
.btn-dropdown {
    @include button-variant(
        #ffffff,
        #ffffff,
        get-color("gray", base),
        get-color("gray", dark));
}
.btn-ghost-alt {
    @include button-variant(
        get-color('gray', 4x-light),
        get-color('primary', 2x-light),
        transparent,
        transparent);
}
.btn-nav {
    @include button-variant(
        #ffffff,
        get-color('primary', 2x-light),
        transparent,
        transparent);

    padding: 11px 19px;

    .btn-contents {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .subtext {
        color: get-color("gray", 3x-light);
    }
}

// Button Sizes
// --------------------------------------------------

.btn-xl {
    @include button-size($padding-xl-vertical, $padding-xl-horizontal, $font-size-xl, $line-height-xl, $btn-border-radius-xl);

    &.btn-round {
        @include button-round($font-size-xl, $line-height-xl, $padding-xl-vertical);
    }
}
.btn-lg {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);

    &.btn-round {
        @include button-round($font-size-large, $line-height-large, $padding-large-vertical);
    }
}
.btn-md {
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);

    &.btn-round {
        @include button-round($font-size-base, $line-height-base, $padding-base-vertical);
    }
}
.btn-sm {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);

    &.btn-round {
        @include button-round($font-size-small, $line-height-small, $padding-small-vertical);
    }
}
.btn-slim {
    padding-left: 0;
    padding-right: 0;
}

// Block button
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}
.btn-unstyled {
    background: transparent;
    border: none;
    margin: 0;
}
.dropdown,
.dropup {
    .btn-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
