@use './variables' as vars;

// Override button margins
.btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left: 2px !important;
    }
}

// Reposition the caret
.btn .caret {
    margin-left: 8px;
}
// Carets in other button sizes
.btn-lg .caret {
    border-width: vars.$caret-width-large vars.$caret-width-large 0;
    border-bottom-width: 0;
}
// Upside down carets for .dropup
.dropup .btn-lg .caret {
    border-width: 0 vars.$caret-width-large vars.$caret-width-large;
}
.btn-group-responsive {
	display: flex;
	flex-direction: row;

	> .btn {
        display: flex;
        align-items: center;
        justify-content: center;
		flex-grow: 1;
        flex-basis: 0;
        overflow: hidden;
        padding: 0;
	}
}
.btn-group-responsive-xl {
    height: ceil(vars.$font-size-xl * vars.$line-height-xl) + (vars.$padding-xl-vertical * 2) + 2;
}
.btn-group-responsive-lg {
    height: ceil(vars.$font-size-large * vars.$line-height-large) + (vars.$padding-large-vertical * 2) + 2;
}
.btn-group-responsive-md {
    height: ceil(14px * vars.$line-height-base) + (vars.$padding-base-vertical * 2) + 2;
}
.btn-group-responsive-sm {
    height: ceil(vars.$font-size-small * vars.$line-height-small) + (vars.$padding-small-vertical * 2) + 2;
}
