//
// Dropdown menus
// --------------------------------------------------

// Dropdown arrow/caret
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -1px;
    margin-left: 2px;
    vertical-align: middle;
    border-top:   $caret-width-base dashed;
    border-right: $caret-width-base solid transparent;
    border-left:  $caret-width-base solid transparent;
}

.dropdown-menu {
    display: inline-flex;
    flex-direction: column;
    z-index: $zindex-dropdown;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-border;
    border-radius: $border-radius-base;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
    background-clip: padding-box;

    // // Dividers (basically an hr) within the dropdown
    .divider {
        @include nav-divider($dropdown-divider-bg);
    }

    // Dropdown section headers
    .dropdown-header {
        display: block;
        padding: 3px 16px;
        padding-top: 8px;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $dropdown-header-color;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .menu-item {
        @include dropdown-menu-link;

        &.active {
            @include dropdown-menu-link-active;
        }

        // Gray out text and ensure the hover/focus state remains gray
        &[disabled] {
            &,
            &:hover,
            &:focus-visible {
                @include dropdown-menu-link-disabled;
            }
        }
    }
}

.dropdown-menu-block {
    width: 100%;
}

// Backdrop to catch body clicks on mobile, etc.
// todo: figure out if this is needed
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: ($zindex-dropdown - 10);
    display: none;
}


.dropdown-menu-inverse {
    $dropdown-inverse-link-color: $level1;
    $dropdown-inverese-link-active-bg: get-color("primary", 3x-light);
    background-color: #ffffff;

    .dropdown-header {
        color: get-color("gray", x-light);
    }
    .menu-item {
        color: $dropdown-inverse-link-color;

        &:hover,
        &:focus-visible {
            color: $dropdown-inverse-link-color;
            background-color: $dropdown-inverese-link-active-bg;
        }

        &.active {
            &,
            &:hover,
            &:focus-visible {
                color: $dropdown-inverse-link-color;
                background-color: $dropdown-inverese-link-active-bg;
            }
        }

        &[disabled] {
            &,
            &:hover,
            &:focus-visible {
                color: $dropdown-inverse-link-color;
                background-color: transparent;
            }
        }
    }
    .divider {
        background: rgba($level0, 0.4);
    }
}
