// Regular / default
@font-face {
    font-family: 'Rubik';
    src: url('#{$nw-font-path}/rubik_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// Bold
@font-face {
    font-family: 'Rubik';
    src: url('#{$nw-font-path}/rubik_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
