@use "./variables";

// Regular / default
@font-face {
    font-family: 'ProximaNova';
    src: url('#{variables.$nw-font-path}/proxima-nova-regular-webfont.woff2') format('woff2'),
         url('#{variables.$nw-font-path}/proxima-nova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// Bold
@font-face {
    font-family: 'ProximaNova';
    src: url('#{variables.$nw-font-path}/proxima-nova-bold-webfont.woff2') format('woff2'),
         url('#{variables.$nw-font-path}/proxima-nova-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
// Semibold
@font-face {
    font-family: 'ProximaNova';
    src: url('#{variables.$nw-font-path}/proxima-nova-semibold-webfont.woff2') format('woff2'),
         url('#{variables.$nw-font-path}/proxima-nova-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}