.label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 16px;
    padding: 0 6px;
    border: 1px solid;
    border-color: black;
    background: black;
    vertical-align: baseline;
    @include border-right-radius(3px);
    @include border-left-radius(3px);

    &.label-default {
        color: get-color("gray", 4x-light);
        background: get-color("gray", light);
        border-color: get-color("gray", light);
    }
    &.label-danger {
        color: #ffffff;
        background: get-color('tertiary');
        border-color: get-color('tertiary');
    }
    &.label-alt {
        color: get-color("alt", light);
        background: get-color("gray", light);
        border-color: get-color("alt", light);
    }
    &.label-new {
        color: #ffffff;
        background: get-color("tertiary");
        border-color: get-color("tertiary");
    }
    &.label-beta {
        color: get-color("gray");
        background: get-color("alt");
        border-color: get-color("alt");
    }
}
 .label-round {
     @include border-right-radius(9px);
     @include border-left-radius(9px);
 }
