@use './variables' as vars;
@use './color-palette' as palette;

.label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 16px;
    padding: 0 3px;
    border: 1px solid;
    border-color: black;
    background: black;
    vertical-align: baseline;

    &.label-badge {
        color: palette.get-color("gray", 4x-light);
        background: palette.get-color("gray", light);
        border-color: palette.get-color("gray", light);
    }
    &.label-danger {
        color: #ffffff;
        background: palette.get-color('tertiary');
        border-color: palette.get-color('tertiary');
    }
    &.label-alt {
        color: palette.get-color("alt", light);
        background: palette.get-color("gray", dark);
        border-color: palette.get-color("gray", dark);
    }
    &.label-new {
        color: #ffffff;
        background: palette.get-color("tertiary");
        border-color: palette.get-color("tertiary");
    }
    &.label-beta {
        color: palette.get-color("gray");
        background: palette.get-color("alt");
        border-color: palette.get-color("alt");
    }
    &.label-op {
        text-transform: initial;
        color: #ffffff;
        background: palette.get-color("secondary", base);
        border-color: palette.get-color("secondary", base);
    }
}
 .label-round {
    padding: 0 7px;
    border-radius: 9px;
 }
