.nw-link {

    text-decoration: none;

    &.nw-link-primary {
        color: #ffffff;

        &:visited {
            color: get-color("gray", 4x-light);
        }
    }

    &.nw-link-secondary {
        color: get-color("gray", 4x-light);
    }

    &.nw-link-tertiary {
        color: get-color("primary", x-light);

        &:hover {
            text-decoration: underline;
        }
    }

    &.nw-link-inline {
        &:visited {
            color: get-color("gray", 4x-light);
        }

        @extend .nw-link-tertiary;
    }

    &:hover,
    &:hover:visited {
        color: $link-hover-color;
        cursor: pointer;
    }
}
