nw-loader {
  @mixin dot-size-mixin($size) {
    width: $size;
    height: $size;
    border-radius: $size / 2;
    margin-right: $size;
  }
  
  @mixin get-dots-animations($animName, $animTime) {
    $maxDots: 10;
    
    @for $i from 0 through $maxDots {
      $animDelay: $i * .2s;
      
      &.dot-#{$i} {
        animation: $animName $animTime $animDelay ease-in-out alternate infinite;
      }
    }
  }
  
  .loader {
    .dots { display: flex }
    .dots-icon-wrapper {
      display: flex;
    }
    
    &.sm {
      display: inline-block;
      .dots { transform: translateY(-4px) }
      
      .dot {
        background: get-color("gray", 3x-light);
        @include dot-size-mixin(4px);
        @include get-dots-animations(moveUpAndDown, .5s);
      }
    }
    
    &.md {
      @extend .overlay-loader-styles;
      
      .dots { transform: translateY(-12px) }
      
      .dot {
        background: get-color("primary");
        @include dot-size-mixin(8px);
        @include get-dots-animations(moveUpAndDown_x2, .6s);
      }
    }
    
    &.lg {
      @extend .overlay-loader-styles;
      
      .dots { transform: translateY(-16px) }
      
      .dot {
        background: get-color("primary");
        @include dot-size-mixin(12px);
        @include get-dots-animations(moveUpAndDown_x2, .6s);
      }
    }
  }
  
  .overlay-loader-styles {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
  }

  @keyframes moveUpAndDown {
    0% { transform: translateY(0px) }
    100% { transform: translateY(8px) }
  }

  @keyframes moveUpAndDown_x2 {
    0% { transform: translateY(0px) }
    100% { transform: translateY(24px) }
  }
}
