.modal {
    // Revert Bootstraps padding-right: 17px when there is a scrollbar
    padding-right: 0 !important;

    .modal-content {
        border: none;
        border-radius: 9px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
    }

    .modal-header {
        border: none;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        padding-right: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;

        .modal-title {
            color: $text-color;
            font-size: 20px;
            font-weight: normal;
            flex: 1;
        }
    }

    .modal-body {
        font-size: 14px;
        color: $text-color;
    }
    .modal-footer {
        padding: 24px;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }
    // When sliding in the modal, animate it to slide from the right
    &.slide-left .modal-dialog {
        transform: translate3d(100%,0,0);
        width: 80%;
        float: right;
        @include transition-transform(0.3s ease-out);

        @media (max-width: $screen-md) {
            width: 100%;
        }
    }
    &.in .modal-dialog { transform: translate3d(0,0,0); }

    &.modal-inverse {
        .modal-content {
            background-color: #ffffff;
        }
        .modal-header,
        .modal-title,
        .modal-body,
        .modal-footer {
            color: $level1;
        }
    }

    &.modal-media {
        display: flex !important;
        padding: 0 !important;

        .modal-dialog {
            margin: auto;

            @media (max-width: $screen-xs) {
                width: 100%;
            }
        }
        .btn-close {
            position: absolute;
            opacity: 0.5;

            transform: translateX(100%);
            right: -8px;
            top: 0;

            @media (max-width: $screen-md) {
                transform: translateY(-100%);
                right: 0;
                top: -8px;
            }
        }
        .modal-content {
            border: 0;

            .modal-body {
                padding: 0;
                line-height: 0;

                .media-content {
                    overflow: hidden;

                    iframe, img, video, object {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// Revert Bootstraps padding-right: 17px when there is a scrollbar
body.modal-open {
    padding-right: 0 !important;
}
.modal-fullscreen {
    margin: 0;
    width: 100%;
    height: 100%;

    .modal-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        @include scrollbars();
    }
    .modal-body {
        flex: 1;
        overflow-y: auto;
    }
}
.modal-open .modal {
    backdrop-filter: blur(4px);
}
