.pill {
    display: inline-flex;
    background: get-color("primary", 2x-light);
    height: $input-height-base;
    line-height: $input-height-base;
    padding: 0 $padding-base-horizontal;
    margin-right: 4px;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: $font-size-base;
    color: get-color("gray", base);
    border-radius: 3px;

    .close {
        color: get-color("primary", base);
        font-size: 160%;
        // Negate the 6px padding on the close button
        position: relative;
        right: -6px;
        margin-left: -6px;

        &:hover {
            color: get-color("primary", dark);
        }
    }
    &.pill-sm {
        padding: 0 $padding-small-horizontal;
        font-size: $font-size-small;
        height: $input-height-small;
        line-height: $input-height-small;
        border-radius: 3px;

    }
    &.pill-lg {
        padding: 0 $padding-large-horizontal;
        font-size: $font-size-large;
        height: $input-height-large;
        line-height: $input-height-large;
        border-radius: 3px;
    }
    &.disabled,
    .close:disabled {
        opacity: 0.5;
        cursor: $cursor-disabled;
    }
    &.pill-excluded {
        .pill-label {
            text-decoration: line-through;
        }
    }
    &:last-child {
        margin-right: 0;
    }
    &.pill-editable {
        &:hover:not(.disabled) {
            background: get-color("primary", 3x-light);

            &.invalid {
                background-color: get-color("tertiary", 3x-light);
            }
        }
    }
    &.invalid {
        background-color: get-color("tertiary", 2x-light);

        .close {
            color: get-color("tertiary", base);

            &:hover {
                color: get-color("tertiary", dark);
            }
        }
    }
    &.selected {
        box-shadow: 0 0 0 1px get-color("primary", dark);

        &.invalid {
            box-shadow: 0 0 0 1px get-color("tertiary", dark);
        }
    }
}
