//
// Popovers
// --------------------------------------------------

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-popover;
    display: none;
    padding: 1px;
    // Our parent element can be arbitrary since popovers are by default inserted as a sibling of their target element.
    // So reset our font and text properties to avoid inheriting weird values.
    @include reset-text;
    font-size: $font-size-base;

    color: $level1;
    background-color: $popover-bg;
    background-clip: padding-box;
    border: 1px solid $popover-border-color;
    border-radius: 3px;

    // Offset the popover to account for the popover arrow
    &.top     { margin-top: -$popover-arrow-width; }
    &.right   { margin-left: $popover-arrow-width; }
    &.bottom  { margin-top: $popover-arrow-width; }
    &.left    { margin-left: -$popover-arrow-width; }
}

.popover-title {
    margin: 0; // reset heading margin
    padding: 8px 14px;
    font-size: $font-size-base;
    background-color: $popover-title-bg;
    border-bottom: 1px solid darken($popover-title-bg, 5%);
    border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
}

.popover-content {
    padding: 24px;

    h5, p, .close{
        color: $level1;
    }

    h5{
        font-size: 16px;
        margin-bottom: 8px;
    }

    p{
        font-size: 14px;
        line-height: 17px;
    }

    .close {
        position: absolute;
        text-shadow: none;
        opacity: 1;
        font-size: 30px;
        top: 3px;
        right: 12px;
    }
}

// Arrows
// .arrow is outer, .arrow:after is inner

//overwrite default arrow border color;
.popover.popover-top.bs-popover-top > .popover-arrow.arrow{
    border-top-color: $popover-border-color;
}

.popover.popover-right.bs-popover-right > .popover-arrow.arrow{
    border-right-color: $popover-border-color;
}

.popover.popover-bottom.bs-popover-bottom > .popover-arrow.arrow{
    border-bottom-color: $popover-border-color;
}

.popover.popover-left.bs-popover-left > .popover-arrow.arrow{
    border-left-color: $popover-border-color;
}

.popover > .arrow,
.popover > .arrow:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover > .arrow {
    border-width: $popover-arrow-outer-width;
}

.popover > .arrow:after {
    border-width: $popover-arrow-width;
    content: "";
}

.popover.top > .arrow {
    left: 50%;
    margin-left: -$popover-arrow-outer-width;
    border-bottom-width: 0;
    border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-top-color: $popover-arrow-outer-color;
    bottom: -$popover-arrow-outer-width;

    &:after {
        content: " ";
        bottom: 1px;
        margin-left: -$popover-arrow-width;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-color;
    }
}

.popover.right > .arrow {
    top: 50%;
    left: -$popover-arrow-outer-width;
    margin-top: -$popover-arrow-outer-width;
    border-left-width: 0;
    border-right-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-right-color: $popover-arrow-outer-color;

    &:after {
        content: " ";
        left: 1px;
        bottom: -$popover-arrow-width;
        border-left-width: 0;
        border-right-color: $popover-arrow-color;
    }
}

.popover.bottom > .arrow {
    left: 50%;
    margin-left: -$popover-arrow-outer-width;
    border-top-width: 0;
    border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-bottom-color: $popover-arrow-outer-color;
    top: -$popover-arrow-outer-width;

    &:after {
        content: " ";
        top: 1px;
        margin-left: -$popover-arrow-width;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-color;
    }
}

.popover.left > .arrow {
    top: 50%;
    right: -$popover-arrow-outer-width;
    margin-top: -$popover-arrow-outer-width;
    border-right-width: 0;
    border-left-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-left-color: $popover-arrow-outer-color;

    &:after {
        content: " ";
        right: 1px;
        border-right-width: 0;
        border-left-color: $popover-arrow-color;
        bottom: -$popover-arrow-width;
    }
}
