.rel-weight {
    background: transparent;

    .rel-weight-bar {
        width: 0;
        background: get-color("secondary", base);
        border: 1px solid get-color("secondary", base);
        color: white;
        transition: width 0.3s ease-in-out;
        padding-top: $padding-base-vertical; 
        padding-bottom: $padding-base-vertical; 
        padding-left: 16px;
        padding-right: 16px;
        font-size: $font-size-base;
        line-height: $line-height-base;
    }
    &.rel-weight-sm {
        .rel-weight-bar {
            padding-top: $padding-small-vertical;
            padding-bottom: $padding-small-vertical;
            font-size: $font-size-small;
            line-height: $line-height-small;
        }
    }
    &.rel-weight-lg {
        .rel-weight-bar {
            padding-top: $padding-large-vertical;
            padding-bottom: $padding-large-vertical;
            font-size: $font-size-large;
            line-height: $line-height-large;
        }
    }
}