.table {
    > thead > tr > th {font-weight: 100;}
    > tfoot > tr > td {border-top:2px solid $table-border-color;}
    font-size: 14px;
    text-align: left;
    line-height: 17px;
    color: get-color('gray', 5x-light);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
