@use './variables' as vars;

.table {
    width: 100%;
    max-width: 100%;
    background-color: vars.$table-bg;
    font-size: 14px;
    text-align: left;
    line-height: 17px;
    color: vars.$text-color-secondary;
    margin-bottom: 0;
    border-collapse: collapse;
    border-spacing: 0;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: vars.$table-cell-padding;
                line-height: vars.$line-height-base;
                vertical-align: middle;
                border-top: 1px solid vars.$table-border-color;
            }
            &.no-border {
                > th,
                > td {
                    border-left: none;
                    border-right: none;
                }
            }
        }
    }
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid vars.$table-border-color;
        text-transform: uppercase;
        font-weight: normal;
        padding: {
            top: 16px;
            bottom: 16px;
        }
        i {
            margin: 0 8px;
        }
    }
    // Remove top border from thead by default
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    &.table-striped {
        > tbody > tr {
            > td {
                border-top: none;
            }
            &:nth-of-type(odd) {
                background-color: vars.$table-bg-accent;
            }
        }
    }
    &.table-skeleton {
        background: transparent;
        
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    border-color: vars.$divider-color-secondary;
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    
                    &:first-child {
                        border-left: none;
                        padding-left: 4px;
                    }
                    &:last-child {
                        border-right: none;
                        padding-right: 4px;
                    }
                }
            }
        }
        > tbody {
            > tr > td {
                border-left: 1px solid vars.$divider-color-secondary;
                border-right: 1px solid vars.$divider-color-secondary;
            }
        }
        > thead,
        > tfoot {
            tr {
                > th,
                > td {
                    border-width: 2px;
                    border-left: none;
                    border-right: none;
                }
            }
        }
        > tfoot {
            tr {
                > th,
                > td {
                    border-bottom: none;
                }
            }
        }
    }
    &.table-pilled-rows {
        background-color: transparent;
        border-spacing: 0 8px;
        border-collapse: separate;
        > thead > tr > th {
            padding-top: 8px;
            padding-bottom: 8px;
            &:first-child {
                padding-left: 0;
            }
        }
        > thead > tr > th,
        > tbody > tr > td {
            border: none;
        }
        > tbody > tr > td {
            background-color: vars.$level3;
            padding: 16px;
            &:first-child {
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
            }
            &:last-child {
                border-top-right-radius: 9px;
                border-bottom-right-radius: 9px;
            }
        }
        > tfoot > tr > td {
            border-top: none;
        }
    }
    &.table-bordered {
        border: 1px solid vars.$table-border-color;
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    border: 1px solid vars.$table-border-color;
                }
            }
        }
        > thead > tr {
            > th,
            > td {
                border-bottom-width: 2px;
            }
        }
    }
    > tfoot > tr > td {
        border-top-width: 2px;
    }
    /* Optional Border Class */
    td.no-border {
        &,
        + td {
            border: {
                left: none !important;
                right: none !important;
            }
        }
    }
}
.table-tall {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
    }
}
