.toasts-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $zindex-toast;
}
.toast {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin: 8px auto;
    padding: 16px 24px;
    max-width: 500px;
    background: get-color("gray", light);
    color: #ffffff;
    border-radius: 5px;

    &.toast-success {
        background: get-color("secondary", base);
    }
    &.toast-error {
        background: get-color("tertiary", base);
    }
    .toast-message {
        flex: 1;
        margin: 0;
        line-height: 1.2;
        font-size: 16px;
        font-weight: 600;
    }
    .toast-icon {
        font-size: 16px;
        margin-right: 16px;
        top: 1px;
        position: relative;
    }
    .close-button {
        position: relative;
        right: -12px;
        top: 1px;
        color: #ffffff;
    }
    &.size-sm {
        padding: 8px 16px;

        .toast-message {
            font-size: 14px;
            font-weight: normal;
        }
        .toast-icon {
            font-size: 14px;
            margin-right: 12px;
        }
        .close-button {
            right: -6px;
            top: 0px;
            margin-left: 4px;
        }
    }
}
