.tooltip {
  z-index: $zindex-tooltip;
  display: block;
  font-size: $font-size-small;
  --tooltip-arrow-color: #{$tooltip-arrow-color};
  --tooltip-bg-color: #{$tooltip-bg};
  --tooltip-color: #{$tooltip-color};
  --tooltip-padding-horizontal: 8px;
  // Reduced padding to compensate for line-height
  --tooltip-padding-vertical: 6px;

  &.tooltip-light {
    --tooltip-arrow-color: #{$tooltip-arrow-color-light};
    --tooltip-bg-color: #{$tooltip-bg-light};
    --tooltip-color: #{$tooltip-color-light};

    .close-button {
      color: $level1;
    }
  }
  // Wrapper for the tooltip content
  .tooltip-inner {
    max-width: $tooltip-max-width;
    padding: var(--tooltip-padding-vertical) var(--tooltip-padding-horizontal);
    color: var(--tooltip-color);
    text-align: left;
    background-color: var(--tooltip-bg-color);
    border-radius: $border-radius-base;
    box-shadow: 2px 2px 8px 0 $tooltip-box-shadow-color;

    .close-button {
      position: absolute;
      top: calc(var(--tooltip-padding-horizontal) / 2);
      right: calc(var(--tooltip-padding-horizontal) / 2);
    }
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
.cdk-overlay-pane.tooltip-overlay {
  z-index: $zindex-popover;

  &.pointer-events-none {
    pointer-events: none;
  }

  &[class*="tooltip-top"] .tooltip-arrow {
    bottom: -$tooltip-arrow-width;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: var(--tooltip-arrow-color);
  }
  &[class*="tooltip-bottom"] .tooltip-arrow {
    top: -$tooltip-arrow-width;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: var(--tooltip-arrow-color);
  }
  &[class*="tooltip-right"] .tooltip-arrow {
    top: 50%;
    left: -$tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: var(--tooltip-arrow-color);
  }
  &[class*="tooltip-left"] .tooltip-arrow {
    top: 50%;
    right: -$tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: var(--tooltip-arrow-color);
  }

  // Arrow adjustments
  &.tooltip-top-start,
  &.tooltip-bottom-start {
    .tooltip-arrow {
      left: calc($tooltip-arrow-width + var(--tooltip-padding-horizontal));
    }
  }
  &.tooltip-top-end,
  &.tooltip-bottom-end {
    .tooltip-arrow {
      left: unset;
      right: var(--tooltip-padding-horizontal);
    }
  }
  &.tooltip-right-start,
  &.tooltip-left-start {
    .tooltip-arrow {
      top: calc($tooltip-arrow-width + var(--tooltip-padding-horizontal));
    }
  }
  &.tooltip-right-end,
  &.tooltip-left-end {
    .tooltip-arrow {
      top: unset;
      bottom: var(--tooltip-padding-horizontal);
    }
  }
}

.tooltip-signal {
  border-bottom: 1px dashed get-color("gray", 3x-light);
  cursor: help;
}