@use './variables' as vars;
@use './color-palette' as palette;
// Right now, the cdk-overlay-container houses only tooltip and popovers and we need to alter the default z-index
// of 1000 as the tooltips and popovers display behind our modals. If and when we come to rendering modals inside
// the same cdk-overlay-container we can probably remove this and rely on the z-index specified on the tooltip,
// popover and modal elements
.cdk-overlay-container {
  z-index: vars.$zindex-popover;
}

.tooltip {
  z-index: vars.$zindex-tooltip;
  display: block;
  font-size: vars.$font-size-small;
  --tooltip-arrow-color: #{vars.$tooltip-arrow-color};
  --tooltip-bg-color: #{vars.$tooltip-bg};
  --tooltip-color: #{vars.$tooltip-color};
  --tooltip-padding-horizontal: 8px;
  // Reduced padding to compensate for line-height
  --tooltip-padding-vertical: 6px;

  &.tooltip-light {
    --tooltip-arrow-color: #{vars.$tooltip-arrow-color-light};
    --tooltip-bg-color: #{vars.$tooltip-bg-light};
    --tooltip-color: #{vars.$tooltip-color-light};

    .close-button {
      color: vars.$level1;
    }
  }
  // Wrapper for the tooltip content
  .tooltip-inner {
    max-width: vars.$tooltip-max-width;
    padding: var(--tooltip-padding-vertical) var(--tooltip-padding-horizontal);
    color: var(--tooltip-color);
    text-align: left;
    background-color: var(--tooltip-bg-color);
    border-radius: vars.$border-radius-base;
    box-shadow: 2px 2px 8px 0 vars.$tooltip-box-shadow-color;

    .close-button {
      position: absolute;
      top: calc(var(--tooltip-padding-horizontal) / 2);
      right: calc(var(--tooltip-padding-horizontal) / 2);
    }
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
.cdk-overlay-pane.tooltip-overlay {
  z-index: vars.$zindex-popover;

  &.pointer-events-none {
    pointer-events: none;
  }

  &[class*="tooltip-top"] .tooltip-arrow {
    bottom: -(vars.$tooltip-arrow-width);
    left: 50%;
    margin-left: -(vars.$tooltip-arrow-width);
    border-width: vars.$tooltip-arrow-width vars.$tooltip-arrow-width 0;
    border-top-color: var(--tooltip-arrow-color);
  }
  &[class*="tooltip-bottom"] .tooltip-arrow {
    top: -(vars.$tooltip-arrow-width);
    left: 50%;
    margin-left: -(vars.$tooltip-arrow-width);
    border-width: 0 vars.$tooltip-arrow-width vars.$tooltip-arrow-width;
    border-bottom-color: var(--tooltip-arrow-color);
  }
  &[class*="tooltip-right"] .tooltip-arrow {
    top: 50%;
    left: -(vars.$tooltip-arrow-width);
    margin-top: -(vars.$tooltip-arrow-width);
    border-width: vars.$tooltip-arrow-width vars.$tooltip-arrow-width vars.$tooltip-arrow-width 0;
    border-right-color: var(--tooltip-arrow-color);
  }
  &[class*="tooltip-left"] .tooltip-arrow {
    top: 50%;
    right: -(vars.$tooltip-arrow-width);
    margin-top: -(vars.$tooltip-arrow-width);
    border-width: vars.$tooltip-arrow-width 0 vars.$tooltip-arrow-width vars.$tooltip-arrow-width;
    border-left-color: var(--tooltip-arrow-color);
  }

  // Arrow adjustments
  &.tooltip-top-start,
  &.tooltip-bottom-start {
    .tooltip-arrow {
      left: calc(vars.$tooltip-arrow-width + var(--tooltip-padding-horizontal));
    }
  }
  &.tooltip-top-end,
  &.tooltip-bottom-end {
    .tooltip-arrow {
      left: unset;
      right: var(--tooltip-padding-horizontal);
    }
  }
  &.tooltip-right-start,
  &.tooltip-left-start {
    .tooltip-arrow {
      top: calc(vars.$tooltip-arrow-width + var(--tooltip-padding-horizontal));
    }
  }
  &.tooltip-right-end,
  &.tooltip-left-end {
    .tooltip-arrow {
      top: unset;
      bottom: var(--tooltip-padding-horizontal);
    }
  }
}

.tooltip-signal {
  border-bottom: 1px dashed palette.get-color("gray", 3x-light);
  cursor: help;
}
