$bootstrap-sass-asset-helper: false !default;
$nw-font-path: '../../../assets/fonts' !default;

//== Colors
//
$gray-base: #232323 !default;
$primary-base: #3d81ff !default;
$secondary-base: #3c8f9a !default;
$tertiary-base: #ff3d64 !default;
$alt-base: #ffcc33 !default;
$coolgray-base: #333c4e !default;
$levels-base: #121417 !default;

$gray-color-settings: (
    "name": "gray",
    "color": $gray-base,
    "light-steps": (8, 16, 36, 48, 60, 72, 78),
    "dark-steps": (-8)
);

$alt-color-settings: (
    "name": "alt",
    "color": $alt-base,
    "light-steps": (8, 16, 24, 32, 36, 40),
    "dark-steps": (-8)
);

$tertiary-color-settings: (
    "name": "tertiary",
    "color": $tertiary-base,
    "light-steps": (8, 16, 24, 32, 36, 40),
    "dark-steps": (-8)
);

$secondary-color-settings: (
    "name": "secondary",
    "color": $secondary-base,
    "light-steps": (10, 20, 30, 40, 50, 60),
    "dark-steps": (-8)
);

$primary-color-settings: (
    "name": "primary",
    "color": $primary-base,
    "light-steps": (8, 16, 24, 32, 36, 40),
    "dark-steps": (-8)
);

$coolgray-color-settings: (
    "name": "coolgray",
    "color": $coolgray-base,
    "light-steps": (8, 16, 36, 48, 60, 72),
    "dark-steps": (-8)
);

$color-settings-maps: (
    $gray-color-settings,
    $alt-color-settings,
    $tertiary-color-settings,
    $secondary-color-settings,
    $primary-color-settings,
    $coolgray-color-settings
);

//== Levels colors
//
$level0: $levels-base; // #121417
$level1: lighten($levels-base, 3); // #191b20
$level2: lighten($levels-base, 6); // #1F2328
$level3: lighten($levels-base, 9); // #262A31
$level4: lighten($levels-base, 12); // #2D3239
$level5: lighten($levels-base, 15); // #343942

//== Colors (Standalone)
//
$yellow: #ffe085;
$green: #139717;

$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: get-color("primary") !default;
$brand-success: $green !default;
$brand-info:    get-color("coolgray") !default;
$brand-warning: get-color("alt") !default;
$brand-danger:  get-color("tertiary") !default;

//== Scaffolding
//
//## Settings for some of the most global styles.
$body-bg:               $level1 !default;

$text-color:            #e2e5e9 !default;
$text-color-secondary:  rgba($text-color, 0.6) !default;
$text-color-disabled:   rgba($text-color, 0.4) !default;
$text-disabled-inverse: rgba($level1, 0.4) !default;

$link-color:            $text-color !default;
$link-hover-color:      get-color("primary", x-light);
$link-hover-decoration: underline !default;

$divider-color-primary: rgba($text-color, 0.25);
$divider-color-secondary: rgba($text-color, 0.15);

//== Typography
//
$font-family-sans-serif:  "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-small:         12px !default;
$font-size-base:          12px !default;
$font-size-large:         16px;
$font-size-xl:            16px !default;

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-small:       1.2 !default;
$line-height-base:        1 !default;
$line-height-large:       1.15 !default; // extra decimals for Win 8.1 Chrome
$line-height-xl:          1.2 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

//== Common
//
$padding-small-vertical:    4px !default;
$padding-small-horizontal:  8px !default;
$padding-base-vertical:     8px !default;
$padding-base-horizontal:   12px !default;
$padding-large-vertical:    10px !default;
$padding-large-horizontal:  24px !default;
$padding-xl-vertical:       24px !default;
$padding-xl-horizontal:     32px !default;

$border-radius-base:        3px !default;
$border-radius-small:       3px !default;
$border-radius-large:       3px !default;
$border-radius-xl:          3px !default;
$border-radius-xs:          3px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $text-color !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $level1 !default;

//** Width of the `border` for generating carets that indicate dropdowns.
$caret-width-base:          6px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         8px !default;

//== Tables
//
$table-cell-padding:            8px 16px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  4px 8px !default;

//** Default background color used for all tables.
$table-bg:                      $level3 !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               $level2 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                $level4 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            $divider-color-secondary !default;

//== Buttons
//
$btn-font-weight:                normal;
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-small:        $border-radius-small !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-xl:           $border-radius-xl !default;

//== Forms
//
$input-bg:                       $text-color !default;
$input-bg-disabled:              $text-color !default;
$input-color:                    $level1 !default;
$input-border:                   $divider-color-secondary !default;
// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            3px !default;
$input-border-radius-large:      3px !default;
$input-border-radius-small:      3px !default;
$input-border-focus:             get-color("primary", light) !default;
$input-color-placeholder:        $text-disabled-inverse !default;
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical) + 11) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;
$form-group-margin-bottom:       24px !default;
$legend-color:                   $level1 !default;
$legend-border-color:            $divider-color-secondary !default;
$input-group-addon-bg:           $level1 !default;
$input-group-addon-border-color: $input-border !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;


//== Dropdowns
//
$dropdown-bg:                   $level4;
$dropdown-link-color:           rgba($text-color, 0.8);
$dropdown-border:               rgba($text-color, 0.075);
$dropdown-link-hover-color:     $text-color;
$dropdown-link-hover-bg:        $level5;
$dropdown-link-active-color:    $text-color !default;
$dropdown-link-active-bg:       transparent !default;
$dropdown-divider-bg:           $divider-color-secondary;
$dropdown-header-color:         $text-color-secondary;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;
// Position the toast above the modal, but below popovers and tooltips
$zindex-toast:             1055 !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             $text-color !default;
$navbar-default-bg:                $level1 !default;
$navbar-default-border:            $divider-color-secondary !default;

// Navbar links
$navbar-default-link-color:                $text-color-secondary !default;
$navbar-default-link-hover-color:          $text-color !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $text-color !default;
$navbar-default-link-active-bg:            transparent !default;
$navbar-default-link-disabled-color:       $text-color-disabled !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $level1 !default;
$navbar-default-toggle-icon-bar-bg:        $level2 !default;
$navbar-default-toggle-border-color:       $divider-color-secondary !default;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $level1 !default;
$navbar-inverse-bg:                         $text-color !default;
$navbar-inverse-border:                     $text-color-secondary !default;

// Inverted navbar links
$navbar-inverse-link-color:                 $level1 !default;
$navbar-inverse-link-hover-color:           $level2 !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             transparent !default;
$navbar-inverse-link-disabled-color:        $text-disabled-inverse !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          $level1 !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $text-color-secondary !default;
$navbar-inverse-toggle-icon-bar-bg:         $text-color !default;
$navbar-inverse-toggle-border-color:        $text-color-secondary !default;


//== Navs
//
//##

//=== Shared nav styles
// Add plus 1 to each paddong because there are no border on nav pills
$nav-link-padding:                          $padding-base-vertical + 1 $padding-base-horizontal + 1 !default;
$nav-link-hover-bg:                         $level1 !default;

$nav-disabled-link-color:                   $text-color-disabled !default;
$nav-disabled-link-hover-color:             $text-color-disabled !default;

//== Tabs
$nav-tabs-border-color:                     $divider-color-secondary !default;

$nav-tabs-link-hover-border-color:          $text-color-secondary !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $text-color !default;
$nav-tabs-active-link-hover-border-color:   $divider-color-secondary !default;

$nav-tabs-justified-link-border-color:            $divider-color-secondary !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;


//== Pagination
//
//##

$pagination-color:                     $text-color-secondary !default;
$pagination-bg:                        transparent !default;
$pagination-border:                    transparent !default;

$pagination-hover-color:               get-color('primary', 2x-light) !default;
$pagination-hover-bg:                  $level1 !default;
$pagination-hover-border:              $level1 !default;

$pagination-active-color:              get-color('primary', 2x-light) !default;
$pagination-active-bg:                 $level1 !default;
$pagination-active-border:             $level1 !default;

$pagination-disabled-color:            $text-color-disabled !default;
$pagination-disabled-bg:               transparent !default;
$pagination-disabled-border:           transparent !default;


//== Pager
//
//##

$pager-bg:                             $pagination-bg !default;
$pager-border:                         $pagination-border !default;
$pager-border-radius:                  15px !default;

$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;


//== Jumbotron
//
//##
$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   get-color('gray', 3x-light) !default;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;
$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5)) !default;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-text:             $text-color !default;
$state-success-bg:               get-color("secondary", base) !default;
$state-success-border:           get-color("secondary", base) !default;

$state-info-text:                $text-color !default;
$state-info-bg:                  get-color("primary", light) !default;
$state-info-border:              get-color("primary", light) !default;

$state-warning-text:             $text-color-secondary !default;
$state-warning-bg:               get-color("alt", light) !default;
$state-warning-border:           get-color("alt", light) !default;

$state-danger-text:              get-color("tertiary", x-light) !default;
$state-danger-bg:                get-color('tertiary', base) !default;
$state-danger-border:            get-color('tertiary', base) !default;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:                 300px !default;
//** Tooltip text color
$tooltip-color:                     $text-color !default;
//** Tooltip background color
$tooltip-bg:                        $level4 !default;

//** Tooltip box-shadow color
$tooltip-box-shadow-color:          rgba($level0, 0.7);

$tooltip-opacity:                   1 !default;

//** Tooltip arrow width
$tooltip-arrow-width:               5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:               $tooltip-bg !default;

//** Variables for tooltip with white background

//** Tooltip light background color
$tooltip-bg-light:                  $text-color;

//** Tooltip text color
$tooltip-color-light:               $level1 !default;

//** Tooltip arrow color
$tooltip-arrow-color-light:         $text-color;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          $text-color !default;

//** Popover maximum width
$popover-max-width:                   276px !default;

//** Popover border color
$popover-border-color:                $text-color !default;

//** Popover fallback border color
$popover-fallback-border-color:       $text-color !default;

//** Popover title background color
$popover-title-bg:                    $level1 !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;

//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;

//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


//== Labels
//
//##

//** Default label background color
$label-default-bg:            get-color('gray', 3x-light) !default;
//** Primary label background color
$label-primary-bg:            get-color('primary') !default;
//** Success label background color
$label-success-bg:            get-color('gray') !default;
//** Info label background color
$label-info-bg:               get-color('secondary') !default;
//** Warning label background color
$label-warning-bg:            get-color('alt') !default;
//** Danger label background color
$label-danger-bg:             get-color('tertiary') !default;

//** Default label text color
$label-color:                 #fff !default;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;


//== Modals
//
//##

$modal-inner-padding:         32px !default;
$modal-title-padding:         16px 32px !default;
$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:                             $body-bg !default;
$modal-content-border-color:                   get-color("gray", base) !default;
$modal-content-fallback-border-color:          get-color("gray", base) !default;

$modal-backdrop-bg:           #000 !default;
$modal-backdrop-opacity:      .75 !default;
$modal-header-border-color:   #e5e5e5 !default;
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    400px !default;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         0 !default;
$alert-link-font-weight:      normal !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;


//== Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                 #f5f5f5 !default;
//** Progress bar text color
$progress-bar-color:          #fff !default;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:      $border-radius-base !default;

//** Default progress bar color
$progress-bar-bg:             get-color('gray') !default;
//** Success progress bar color
$progress-bar-success-bg:     get-color('primary') !default;
//** Warning progress bar color
$progress-bar-warning-bg:     get-color('alt') !default;
//** Danger progress bar color
$progress-bar-danger-bg:      get-color('tertiary') !default;
//** Info progress bar color
$progress-bar-info-bg:        get-color('secondary') !default;


//== List group
//
//##

//** Background color on `.list-group-item`
$list-group-bg:                 transparent !default;
//** `.list-group-item` border color
$list-group-border:             transparent !default;
//** List group border radius
$list-group-border-radius:      0 !default;

//** Background color of single list items on hover
$list-group-hover-bg:           $level4 !default;
//** Text color of active list items
$list-group-active-color:       $text-color !default;
//** Background color of active list items
$list-group-active-bg:          $level4;
//** Border color of active list elements
$list-group-active-border:      $list-group-active-bg !default;
//** Text color for content within active list items
$list-group-active-text-color:  $text-color !default;

//** Text color of disabled list items
$list-group-disabled-color:      $text-color-disabled !default;
//** Background color of disabled list items
$list-group-disabled-bg:         transparent !default;
//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         $text-color-secondary !default;
$list-group-link-hover-color:   $text-color !default;
$list-group-link-heading-color: #333 !default;


//== Panels
//
//##

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          get-color('gray') !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        get-color('primary') !default;
$panel-primary-heading-bg:    get-color('primary') !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:           4px !default;
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default;
//** Thumbnail border color
$thumbnail-border:            #ddd !default;
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-base !default;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     $text-color !default;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px !default;


//== Wells
//
//##

$well-bg:                     #f5f5f5 !default;
$well-border:                 darken($well-bg, 7%) !default;


//== Badges
//
//##

$badge-color:                 #fff !default;
//** Linked badge text color on hover
$badge-link-hover-color:      #fff !default;
$badge-bg:                    get-color('gray', 3x-light) !default;

//** Badge text color in active nav link
$badge-active-color:          $link-color !default;
//** Badge background color in active nav link
$badge-active-bg:             #fff !default;

$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;
//** Breadcrumb background color
$breadcrumb-bg:                 #f5f5f5 !default;
//** Breadcrumb text color
$breadcrumb-color:              #ccc !default;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       get-color('gray', 3x-light) !default;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "/" !default;


//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;



//== Close
//
//##

$close-font-weight:           lighter !default;
$close-color:                 #ffffff !default;
$close-text-shadow:           0 1px 0 #fff !default;

//== Code
//
$code-color:                  get-color('secondary') !default;
$code-bg:                     get-color('gray', dark) !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      get-color('gray', dark) !default;

$pre-bg:                      get-color('gray', dark) !default;
$pre-color:                   get-color('secondary') !default;
$pre-border-color:            transparent !default;;
$pre-scrollable-max-height:   800px !default;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$text-muted:                  get-color('gray', x-light) !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           get-color('gray', x-light) !default;
//** Headings small color
$headings-small-color:        get-color('gray', 3x-light) !default;
//** Blockquote small color
$blockquote-small-color:      get-color('gray', x-light) !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     get-color('gray', 3x-light) !default;
//** Page header border color
$page-header-border-color:    get-color('gray', 3x-light) !default;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;
//** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint:    $grid-float-breakpoint !default;
//** Horizontal line color.
$hr-border:                   $divider-color-secondary !default;
