<div>
    <h2 class="page-header">Charts</h2>

    <form [formGroup]="form">
        <div formArrayName="selectedMetrics" style="display: flex; flex-direction: row;">
            <div class="checkbox" style="margin-right: 8px;" *ngFor="let metric of form.controls.selectedMetrics.controls; let i = index">
                <input id="metric-{{i}}" type="checkbox" [formControlName]="i">
                <label for="metric-{{i}}">
                    {{metricNames[i]}}
                </label>
            </div>
        </div>
    </form>

    <div style="display: flex; flex-direction: row;">
        <svg nw-chart
            [width]="600"
            [height]="400"
            [xRange]="xRange"
            [yRange]="yRange"
            [margins]="chartMargins"
            (nwMousemove)="onMousemove($event)"
            (nwMouseout)="onMouseout()">

            <!-- Axes -->
            <g class="x axis nw-slot-2" nw-x-axis
                [xRange]="xRange"
                [yRange]="yRange"
                [tickFormat]="xAxisTickFormat"
                [tickCount]="8"></g>

            <g class="y axis nw-slot-2" nw-y-axis
                [xRange]="xRange"
                [yRange]="yRange"
                [tickFormat]="yAxisTickFormat"
                [showGuidlines]="true"></g>

            <g class="y axis nw-slot-2" nw-y-axis align="right"
                [xRange]="[0, 1]"
                [yRange]="[0, 1]"
                [tickCount]="4"></g>

            <!-- Hover lines -->
            <path class="hover-path nw-slot-1" *ngIf="isHovering"
                [nw-path]="[[hoverCoordinates[0], yRange[0]], [hoverCoordinates[0], yRange[1]]]"
                [animDuration]="0"></path>

            <path class="hover-path nw-slot-1" *ngIf="isHovering"
                [nw-path]="[[xRange[0], hoverCoordinates[1]], [xRange[1], hoverCoordinates[1]]]"
                [animDuration]="0"></path>

            <!-- Paths -->
            <path class="fb-comments" *ngIf="isMetricSelected('fbComments')"
                [nw-path]="getDataByMetric('fbComments')"
                (animEnd)="onPathAnimationEnd('fbComments')"></path>

            <path class="tw-shares" *ngIf="isMetricSelected('twShares')"
                [nw-path]="getDataByMetric('twShares')"></path>

            <path class="fb-total" *ngIf="isMetricSelected('fbTotalEngagement')"
                [nw-path]="getDataByMetric('fbTotalEngagement')"></path>

            <!-- Circles with popovers -->
            <ng-container *ngIf="isMetricSelected('fbComments')">
                <circle *ngFor="let point of getDataByMetric('fbComments'); trackBy:circleTrack"
                    [nw-circle]="point"
                    r=5
                    [popover]="circlePopTemplate"
                    [popoverContext]="{ point: point }"
                    container="body"
                    [outsideClick]="true"></circle>
            </ng-container>
        </svg>

        <ng-template #circlePopTemplate let-point="point">
            <p>{{point[0] | date: 'medium'}}</p>
            <strong>{{point[1] | number: '1.0-0'}}</strong>
        </ng-template>

        <div *ngIf="isHovering" style="margin-left: 16px;">
            <h3 class="nw-text nw-text-light">Hover data</h3>
            <hr>
            <p class="nw-text nw-text-light">
                {{hoverCoordinates[0] | date: 'medium'}}
            </p>
            <p class="nw-text nw-text-light">
                {{hoverCoordinates[1] | number: '1.0-0'}}
            </p>
        </div>
    </div>

    <!-- RESPONSIVE GRAPH -->

    <!-- <div class="row">
        <div class="col-sm-6">
            <div class="chart-container">
                <svg nw-chart
                    [xRange]="xRange"
                    [yRange]="yRange"
                    [margins]="chartMargins">

                    <path class="fb-comments" *ngIf="isMetricSelected('fbComments')"
                        [nw-path]="getDataByMetric('fbComments')"
                        (animEnd)="onPathAnimationEnd('fbComments')"></path>

                    <path class="tw-shares" *ngIf="isMetricSelected('twShares')"
                        [nw-path]="getDataByMetric('twShares')"></path>

                    <path class="fb-total" *ngIf="isMetricSelected('fbTotalEngagement')"
                        [nw-path]="getDataByMetric('fbTotalEngagement')"></path>

                    <g class="x axis" nw-x-axis></g>
                    <g class="y axis" nw-y-axis></g>
                </svg>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div> -->
</div>
