<div>
    <h2 class="page-header">Tabs</h2>

    <h3>Nav Pills</h3>

    <div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Tab 1 active</a></li>
            <li role="presentation"><a href="#">Tab2</a></li>
            <li role="presentation"><a href="#">Tab 3</a></li>
            <li role="presentation" class="disabled"><a>Tab 4 disabled</a></li>
        </ul>
    </div>

    <h3>Nav Tabs</h3>

    <nw-tabs>
        <li *ngFor="let tab of tabCollection" nwTab [isActive]="tab.isActive" (click)="setSelectedTab(tab)" role="presentation">
            <a href="javascript:;" [attr.aria-controls]="tab.name" role="tab">{{tab.name}}</a>
        </li>
    </nw-tabs>

</div>
