<div>
    <h2>Forms</h2>

    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="emailAddress">Default email address</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="Email">
                </div>

                <div class="form-group form-group-lg">
                    <label for="emailAddress">Large email address</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="textarea">Textarea</label>
                    <textarea class="form-control" name="textarea" id="textarea" rows="10" placeholder="Textarea"></textarea>
                </div>

                <div class="form-group">
                    <label for="options">Default select input</label>
                    <select class="form-control" name="options" id="options">
                        <option>Selection number 1</option>
                        <option>Selection number 2</option>
                        <option>Selection number 3</option>
                        <option>Selection number 4</option>
                        <option>Selection number 5</option>
                        <option>Selection number 6</option>
                        <option disabled>Selection number 7</option>
                        <option>Selection number 8</option>
                        <optgroup label="Group 1">
                            <option>Selection number 1.1</option>
                        </optgroup>
                        <optgroup label="Group 2">
                            <option>Selection number 2.1</option>
                            <option>Selection number 2.2</option>
                        </optgroup>
                        <optgroup label="Group 3" disabled>
                            <option>Selection number 3.1</option>
                            <option>Selection number 3.2</option>
                            <option>Selection number 3.3</option>
                        </optgroup>
                    </select>
                </div>

                <div class="form-group form-group-lg">
                    <label for="options">Large select input</label>
                    <select class="form-control" name="options" id="options">
                        <option>Selection number 1</option>
                        <option>Selection number 2</option>
                        <option>Selection number 3</option>
                        <option>Selection number 4</option>
                        <option>Selection number 5</option>
                        <option>Selection number 6</option>
                        <option disabled>Selection number 7</option>
                        <option>Selection number 8</option>
                        <optgroup label="Group 1">
                            <option>Selection number 1.1</option>
                        </optgroup>
                        <optgroup label="Group 2">
                            <option>Selection number 2.1</option>
                            <option>Selection number 2.2</option>
                        </optgroup>
                        <optgroup label="Group 3" disabled>
                            <option>Selection number 3.1</option>
                            <option>Selection number 3.2</option>
                            <option>Selection number 3.3</option>
                        </optgroup>
                    </select>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox" value="option1">
                                <label for="checkbox">
                                    Checkbox
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox1" value="option1" disabled>
                                <label for="checkbox1">
                                    Checkbox disabled
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox1" value="option1" disabled checked>
                                <label for="checkbox1">
                                    Disabled &amp; checked
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="radio">
                                <input type="radio" id="radio0" name="option" value="option1" checked>
                                <label for="radio0">
                                    Radio 0
                                </label>
                            </div>
                            <div class="radio">
                                <input type="radio" id="radio1" name="option" value="option1" disabled>
                                <label for="radio1">
                                    Radio 1
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" id="radio2" name="option" value="option2">
                                <label for="radio2">
                                    Radio 2
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" id="radio3" name="option" value="option3">
                                <label for="radio3">
                                    Radio 3
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" id="radio4" name="option" value="option4" disabled>
                                <label for="radio4">
                                    Radio 4
                                </label>
                            </div>

                            <div class="radio">
                                <input type="radio" id="radio5" name="option" value="option3">
                                <label for="radio5">
                                    Radio 5
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="switch">
                                <input type="checkbox" id="switch1" value="option1">
                                <label for="switch1" class="switch-toggle">
                                    <span class="on-off"></span>
                                </label>
                                <label for="switch1">
                                    Switch label
                                </label>
                            </div>

                            <div class="switch">
                                <input type="checkbox" id="switch2" value="option1" checked>
                                <label for="switch2" class="switch-toggle">
                                    <span class="on-off"></span>
                                </label>
                                <label for="switch2">
                                    Switch label
                                </label>
                            </div>

                            <div class="switch">
                                <input type="checkbox" id="switch3" value="option1" disabled>
                                <label for="switch3" class="switch-toggle">
                                    <span class="on-off"></span>
                                </label>
                                <label for="switch3">
                                    Switch label
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
