<div>
    <h2>Buttons</h2>

    <h3>Sizes</h3>

    <div class="standalone-buttons">
        <button class="btn btn-primary btn-{{size}}" *ngFor="let size of sizes">
            .{{size}}
        </button>

        <hr>

        <h3>Variations</h3>

        <div style="width: 300px;">
            <button class="btn btn-primary btn-{{defaultBtnSize}} btn-block">
                .btn-block
            </button>
        </div>

        <button class="btn btn-primary btn-{{defaultBtnSize}} btn-round">
            <i class="fa fa-plus"></i>
        </button>

        <button class="btn btn-primary btn-{{defaultBtnSize}}">
            <i class="fa fa-facebook"></i> With icon
        </button>

        <hr>

        <h3>States</h3>

        <button class="btn btn-primary btn-{{defaultBtnSize}} disabled" disabled>
            .disabled
        </button>

        <button class="btn btn-primary btn-{{defaultBtnSize}} active">
            .active
        </button>

        <hr>

        <h3>Colors</h3>

        <button class="btn btn-{{color}} btn-{{defaultBtnSize}}" *ngFor="let color of btnNames">
            .btn-{{color}}
        </button>
    </div>

    <hr>

    <h3>Button groups</h3>

    <div style="margin-bottom: 20px;">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-ghost btn-md">Button 1</button>
            <button type="button" class="btn btn-ghost btn-md" disabled>Button 2 disabled</button>
            <button type="button" class="btn btn-ghost btn-md">Button 3</button>
            <button type="button" class="btn btn-ghost btn-md"><i class="fa fa-ellipsis-h"></i></button>
        </div>
    </div>

    <div style="margin-bottom: 20px;">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary btn-{{defaultBtnSize}}">Button 1</button>
            <button type="button" class="btn btn-secondary active btn-{{defaultBtnSize}}">Button 2 active (optional)</button>
            <button type="button" class="btn btn-secondary btn-{{defaultBtnSize}}">Button 3</button>
            <button type="button" class="btn btn-secondary btn-{{defaultBtnSize}}" disabled>Button 4 disabled</button>
        </div>
    </div>

    <div style="margin-bottom: 20px;">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-{{defaultBtnSize}}">Button 1</button>
            <button type="button" class="btn btn-primary active btn-{{defaultBtnSize}}">Button 2 active (optional)</button>
            <button type="button" class="btn btn-primary btn-{{defaultBtnSize}}">Button 3</button>
            <button type="button" class="btn btn-primary btn-{{defaultBtnSize}}" disabled>Button 4 disabled</button>
        </div>
    </div>

</div>
