<div>
  <h2 class="page-header">Filters</h2>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <h3>Sizes</h3>
      <div>
        <div class="filter filter-sm">
          <span class="filter-label">Filter name (.filter-sm)</span>
          <button class="close">&times;</button>
        </div>
      </div>

      <h3>States</h3>
      <div>
        <div class="filter filter-sm">
          <span class="filter-label">Default</span>
          <button class="close">&times;</button>
        </div>

        <div class="filter filter-sm disabled">
          <span class="filter-label">Disabled</span>
          <button class="close" disabled>&times;</button>
        </div>

        <div class="filter filter-sm filter-excluded">
          <span class="filter-label">Excluded</span>
          <button class="close">&times;</button>
        </div>
      </div>
    </div>
  </div>
</div>