<div class="scroll-container"
    #scrollContainer>
    <ul class="nav nav-tabs"
        [ngClass]="tabSizeClass"
        role="tablist"
        (keydown)="onKeydown($event)"
        (focusout)="onFocusOut()">
        <ng-content></ng-content>
    </ul>
    <div #activeBar
        class="nav-tabs-active-bar"
        aria-hidden="true"
        [ngStyle]="getActiveStyles()"></div>
</div>

@if (shouldShowPagination) {
    <div class="pagination-container">
        @if (shouldShowPrev) {
            <div class="prev-page"
                (click)="prev()"
                [ngStyle]="background">
                <ng-container *ngTemplateOutlet="paginator"></ng-container>
            </div>
        }
        @if (shouldShowNext) {
            <div class="next-page"
                (click)="next()"
                [ngStyle]="background">
                <ng-container *ngTemplateOutlet="paginator"></ng-container>
            </div>
        }
    </div>
}

<ng-template #paginator>
    <button class="btn btn-md btn-ghost-alt">
        <i class="fas fa-chevron-left"></i>
    </button>
</ng-template>