body {
    margin: 0;
    padding: 0 0 90px 0;

    * {
        box-sizing: border-box;
    }
}

hr {
    margin: 30px 0;
}

app-root {

    display: flex;
    flex-direction: row;
    height: 100%;

    .side-nav-menu {
        position: fixed;
        width: 250px;
        height: 100vh;
        background: #000000;
        overflow-y: scroll;

        .app-logo {
            max-width: 100%;
            padding: 10px 7px;
        }
    }

    .app-body-container {
        flex: 1;
        padding: 20px;
        margin-left: 250px;
        width: calc(100% - 250px);
    }

}
