<div class="side-nav">
    <div class="side-nav-menu">
        <img class="app-logo" src="assets/images/branding/nw-logo-horizontal.png">
        <div class="list-group list-group-primary">
            <a class="list-group-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <h5 class="list-group-header">Styles</h5>
            <a class="list-group-item" routerLink="/alerts" routerLinkActive="active">Alerts</a>
            <a class="list-group-item" routerLink="/animations" routerLinkActive="active">Animations</a>
            <a class="list-group-item" routerLink="/branding" routerLinkActive="active">Branding</a>
            <a class="list-group-item" routerLink="/buttons" routerLinkActive="active">Buttons</a>
            <a class="list-group-item" routerLink="/colors" routerLinkActive="active">Colors</a>
            <a class="list-group-item" routerLink="/forms" routerLinkActive="active">Forms</a>
            <a class="list-group-item" routerLink="/labels" routerLinkActive="active">Labels</a>
            <a class="list-group-item" routerLink="/lists" routerLinkActive="active">Lists</a>
            <a class="list-group-item" routerLink="/modals" routerLinkActive="active">Modals</a>
            <a class="list-group-item" routerLink="/pagination" routerLinkActive="active">Pagination</a>
            <a class="list-group-item" routerLink="/pills" routerLinkActive="active">Pills</a>
            <a class="list-group-item" routerLink="/relative-weighting" routerLinkActive="active">Relative Weighting</a>
            <a class="list-group-item" routerLink="/tables" routerLinkActive="active">Tables</a>
            <a class="list-group-item" routerLink="/typography" routerLinkActive="active">Typography</a>
            <hr>
            <h5 class="list-group-header">Angular modules</h5>
            <a class="list-group-item" routerLink="/autofocus" routerLinkActive="active">Autofocus</a>
            <a class="list-group-item" routerLink="/carousel" routerLinkActive="active">Carousel</a>
            <a class="list-group-item" routerLink="/charts" routerLinkActive="active">Charts</a>
            <a class="list-group-item" routerLink="/dropdowns" routerLinkActive="active">Dropdowns</a>
            <a class="list-group-item" routerLink="/email-input" routerLinkActive="active">Email Input</a>
            <a class="list-group-item" routerLink="/feature-alerts" routerLinkActive="active">Feature Alerts</a>
            <a class="list-group-item" routerLink="/loader" routerLinkActive="active">Loader</a>
            <a class="list-group-item" routerLink="/picker" routerLinkActive="active">Picker</a>
            <a class="list-group-item" routerLink="/tabs" routerLinkActive="active">Tabs</a>
            <a class="list-group-item" routerLink="/toasts" routerLinkActive="active">Toasts</a>
            <a class="list-group-item" routerLink="/tooltips" routerLinkActive="active">Tooltips</a>
        </div>
    </div>
</div>

<div class="app-body-container">
    <router-outlet></router-outlet>
</div>
