@use "nw-style-guide/sass/src/mixins/scrollbars";
@use "nw-style-guide/sass/src/variables" as variables;

:host {
    display: flex;
    flex-direction: row;
    height: 100%;

    .side-nav {
        @include scrollbars.scrollbars();
    }
    .side-nav-menu {
        position: fixed;
        width: 200px;
        height: 100vh;
        background: variables.get-color("gray", dark);
        overflow-y: scroll;

        .app-logo {
            max-width: 100%;
            padding: 10px 7px;
        }
    }
    .app-body-container {
        flex: 1;
        padding: 0 32px;
        margin-left: 200px;
        width: calc(100% - 200px);
    }
    ::ng-deep .page-header {
        p {
            margin: 0;
            line-height: 1;
            margin-top: 16px;
        }
        // Page headers should span the full width and negate the container padding
        .tabs-container {
            background-color: variables.get-color("gray", dark);
            padding-left: 32px;
            padding-right: 32px;
            margin-left: -32px;
            margin-right: -32px;
            margin-top: 16px;
            position: relative;
            top: 1px;
        }
    }
}