@use '../_lib/sass/src/mixins/scrollbars' as sb;
@use '../_lib/sass/src/color-palette' as palette;

:host {
    display: flex;
    flex-direction: row;
    height: 100%;

    .side-nav {
        @include sb.scrollbars();
    }
    .side-nav-menu {
        position: fixed;
        width: 200px;
        height: 100vh;
        background: palette.get-color("gray", dark);
        overflow-y: scroll;

        .app-logo {
            max-width: 100%;
            padding: 10px 7px;
        }
    }
    .app-body-container {
        flex: 1;
        padding: 0 32px;
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}