<div class="side-nav-menu">
    Sidebar

    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/buttons">Buttons</a>
        </li>
        <li>
            <a routerLink="/colors">Colors</a>
        </li>
        <li>
            <a routerLink="/interactive-text">Interactive text</a>
        </li>
        <li>
            <a routerLink="/dropdowns">Dropdowns</a>
        </li>
        <li>
            <a routerLink="/tabs">Tabs</a>
        </li>
        <li>
            <a routerLink="/branding">Branding</a>
        </li>
    </ul>
</div>

<div class="app-body-container">
    <router-outlet></router-outlet>
</div>
