<div>
    <h2>Lists</h2>


    <div class="row">
        <div class="col-sm-6">
            <h3>Default list</h3>

            <ul class="list-group" #lg>
                <h5 class="list-group-header">Secondary Menu</h5>

                <a href="#" class="list-group-item">Panel 1</a>
                <a href="#" class="list-group-item">Panel 2</a>
                <a href="#" class="list-group-item">Panel 3</a>
                <a href="#" class="list-group-item">Panel 4</a>
                <a href="#" class="list-group-item">Panel 5</a>
                <a href="#" class="list-group-item">Panel 6</a>
                <a href="#" class="list-group-item">Panel 7</a>
                <a href="#" class="list-group-item">Panel 8</a>
            </ul>
        </div>

        <div class="col-sm-6">
            <pre style="margin-top: 100px;">{{listGroupHTML}}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Primary list / nav</h3>

            <div class="list-group list-group-primary" #lgPrimary>
                <h5 class="list-group-header">Main Menu</h5>

                <a class="list-group-item"
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Home</a>
                <a class="list-group-item"
                    routerLink="/buttons"
                    routerLinkActive="active" >Buttons</a>
                <a class="list-group-item"
                    routerLink="/colors"
                    routerLinkActive="active" >Colors</a>
                <a class="list-group-item"
                    routerLink="/interactive-text"
                    routerLinkActive="active" >Interactive text</a>
                <a class="list-group-item"
                    routerLink="/dropdowns"
                    routerLinkActive="active" >Dropdowns</a>
                <a class="list-group-item"
                    routerLink="/tabs"
                    routerLinkActive="active" >Tabs</a>
                <a class="list-group-item"
                    routerLink="/branding"
                    routerLinkActive="active" >Branding</a>
                <a class="list-group-item"
                    routerLink="/lists"
                    routerLinkActive="active" >Lists</a>
            </div>
        </div>

        <div class="col-sm-6">
            <pre style="margin-top: 100px;">{{listGroupPrimaryHTML}}</pre>
        </div>
    </div>
</div>
