<div>
    <h2>Lists</h2>


    <div class="row">
        <div class="col-sm-6">
            <h3>Default list</h3>

            <div class="list-container">
                <ul class="list-group" #lg>
                    <h5 class="list-group-header">Default Menu</h5>

                    <a href="#" class="list-group-item">Panel 1</a>
                    <a href="#" class="list-group-item active">
                        Panel 2 (active)

                        <div class="list-group-item-actions">
                            <a class="nw-link nw-link-inline" href="javascript:;" data-toggle="tooltip" data-placement="auto right" title="Example item icon">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">Panel 3</a>
                    <a href="#" class="list-group-item">Panel 4 (w/ badge) <span class="label label-danger">New</span></a>
                    <a href="#" class="list-group-item">Panel 5</a>
                    <a class="list-group-item disabled">Panel 6 (disabled)</a>
                    <a href="#" class="list-group-item">Panel 7</a>
                    <div style="position: relative">
                        <a class="list-group-item" href="javascript:;">
                            Panel 8
                        </a>
                        <div class="dropdown list-group-item-actions">
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-ghost-alt dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">
                                <i aria-hidden="true" class="fa fa-plus-circle"></i>
                            </button>
                            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <pre style="margin-top: 100px;">{{listGroupHTML}}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Primary list / nav</h3>

            <div class="list-container">
                <div class="list-group list-group-primary" #lgPrimary>
                    <h5 class="list-group-header">
                        Main Menu
                        <div class="list-group-header-actions">
                            <a class="nw-link nw-link-inline" href="javascript:;" data-toggle="tooltip" data-placement="auto right" title="Example header icon">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </div>
                    </h5>

                    <a class="list-group-item"
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Home</a>
                    <a class="list-group-item"
                    routerLink="/buttons"
                    routerLinkActive="active" >Buttons</a>
                    <a class="list-group-item"
                    routerLink="/colors"
                    routerLinkActive="active" >Colors</a>
                    <a class="list-group-item"
                    routerLink="/interactive-text"
                    routerLinkActive="active" >Interactive text</a>
                    <a class="list-group-item"
                    routerLink="/dropdowns"
                    routerLinkActive="active" >Dropdowns</a>
                    <a class="list-group-item"
                    routerLink="/tabs"
                    routerLinkActive="active" >Tabs</a>
                    <a class="list-group-item disabled">Branding (disabled)</a>
                    <a class="list-group-item"
                    routerLink="/lists"
                    routerLinkActive="active" >Lists</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <pre style="margin-top: 100px;">{{listGroupPrimaryHTML}}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Collapsible / expandable items</h3>

            <div class="list-container">
                <div class="list-group" #nestedLg>
                    <h5 class="list-group-header">
                        Collapse / expand menu
                        <div class="list-group-header-actions">
                            <div class="dropdown">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-ghost-alt dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">
                                    <i aria-hidden="true" class="fa fa-plus-circle"></i>
                                </button>
                                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </h5>

                    <a href="#" class="list-group-item">Item 1</a>

                    <a href="#folder1" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="folder1"><span class="caret"></span>Folder 1</a>
                    <div class="collapse collapsible" id="folder1">
                        <a href="#" class="list-group-item">Item 2</a>
                    </div>

                    <div style="position: relative">
                        <a href="#folder2" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="folder2"><span class="caret"></span>Folder 2</a>
    
                        <div class="dropdown list-group-item-actions">
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-ghost-alt dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">
                                <i aria-hidden="true" class="fa fa-plus-circle"></i>
                            </button>
                            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </div>
    
                        <div class="collapse collapsible" id="folder2">
                            <a href="#" class="list-group-item">Item 3</a>
                            <a href="#" class="list-group-item">Item 4</a>
                            <a href="#" class="list-group-item">Item 5</a>
    
                            <a href="#folder3" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="folder3"><span class="caret"></span>Folder 3</a>
    
                            <div class="collapse collapsible" id="folder3">
                                <a href="#" class="list-group-item">Item 6</a>
                                <a href="#" class="list-group-item">Item 7</a>
                                <a href="#" class="list-group-item">Item 8</a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bell list-group-item-icon"></i>
                        Item 9
                    </a>
                    <a href="#" class="list-group-item">Item 10</a>
                    <a class="list-group-item disabled">Item 11 (disabled)</a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bell list-group-item-icon"></i>
                        Item 12
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <pre style="margin-top: 60px;">{{nestedLgHTML}}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Secondary list</h3>

            <div class="row">
                <div class="col-sm-6">
                    <div class="list-group list-group-secondary">
                        <h5 class="list-group-header">Secondary menu 1</h5>

                        <a href="#" class="list-group-item">Item 1</a>
                        <a href="#" class="list-group-item">Item 2</a>
                        <a href="#group1" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="group1"><span class="caret"></span>Group 1</a>

                        <div class="collapse collapsible" id="group1">
                            <a href="#" class="list-group-item">Item 1.1</a>
                            <a href="#" class="list-group-item">Item 1.2</a>
                            <a href="#" class="list-group-item">Item 1.3</a>

                            <a href="#group2" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="group2"><span class="caret"></span>Group 2</a>

                            <div class="collapse collapsible" id="group2">
                                <a href="#" class="list-group-item">Item 2.1</a>
                                <a href="#" class="list-group-item">Item 2.2</a>
                                <a href="#" class="list-group-item">Item 2.3</a>
                            </div>
                        </div>
                        <a href="#" class="list-group-item">Item 3</a>
                        <a href="#" class="list-group-item">Item 4</a>
                        <a href="#" class="list-group-item">Item 5</a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="list-group list-group-secondary">
                        <h5 class="list-group-header">Secondary menu 2</h5>

                        <a href="#" class="list-group-item">Item 1</a>
                        <a href="#" class="list-group-item active">Item 2 (active)</a>
                        <a href="#group3" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="group3"><span class="caret"></span>Group 1</a>

                        <div class="collapse collapsible" id="group3">
                            <a href="#" class="list-group-item">Item 1.1</a>
                            <a href="#" class="list-group-item">Item 1.2</a>
                            <a href="#" class="list-group-item">Item 1.3</a>

                            <a class="list-group-item collapsed disabled" data-toggle="collapse" aria-expanded="false" aria-controls="group4"><span class="caret"></span>Group 2 (disabled)</a>

                            <div class="collapse collapsible" id="group4">
                                <a href="#" class="list-group-item">Item 2.1</a>
                                <a href="#" class="list-group-item">Item 2.2</a>
                                <a href="#" class="list-group-item">Item 2.3</a>
                            </div>
                        </div>
                        <a href="#" class="list-group-item">Item 3</a>
                        <a href="#" class="list-group-item">Item 4</a>
                        <a class="list-group-item disabled">Item 5 (disabled)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
