<h2>Tables</h2>

<table class="table">
    <thead>
    <tr>
        <th colspan="5">
            Regular Table
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of [1,2,3]">
        <td *ngFor="let i of [1,2,3,4,5]">Table Cell</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">Footer</td>
    </tr>
    </tfoot>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="5">
                Bordered Table
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of [1,2,3]">
            <td *ngFor="let i of [1,2,3,4,5]">Table Cell</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">Footer</td>
        </tr>
    </tfoot>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th colspan="5">
            Striped Table
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of [1,2,3]">
        <td *ngFor="let i of [1,2,3,4,5]">Table Cell</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">Footer</td>
    </tr>
    </tfoot>
</table>
