@use '../../_lib/sass/src/variables.scss' as vars;

.live-example-form {
    padding: 16px;
    background-color: vars.$level2;
    max-width: 300px;
    margin-bottom: 16px;
    border-radius: vars.$border-radius-large;
}