@import '../../_lib/sass/src/variables.scss';

.live-example-form {
    padding: 16px;
    background-color: $level2;
    max-width: 300px;
    margin-bottom: 16px;
    border-radius: $border-radius-large;
}