<div>
  <h2 class="page-header">Toasts</h2>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div>
        <button class="btn btn-primary" (click)="addSuccess()">Success</button>
        <button class="btn btn-danger" (click)="addError()">Error</button>
        <button class="btn btn-alt" (click)="addRandom()">Add Random</button>
        <button class="btn btn-alt" (click)="addCustomToast()">Custom HTML</button>
        <button class="btn btn-alt" (click)="addTemplateRefToast(ref)">Template Ref</button>
        <hr>
        <button class="btn btn-alt" (click)="addDismissibleOnDemand()">Add dismissible on demand</button>
        <button class="btn btn-alt" (click)="dismissOnDemand()">Dismiss on demand</button>
        <br><br>
        <em>*Note: For simplicity, only one toast at a time is dismissible on demand in this demo,
            others will stay on screen until you navigate away.</em>
        <hr>
      </div>

      <ng-template #ref>
        <div>
          <p>Some paragraph text</p>
          <i class="fab fa-twitter"></i>
          <div>
            <a href="https://spike.newswhip.com" class="nw-link nw-link-inline">Navigate to Spike</a>
          </div>
        </div>
      </ng-template>

      <div>
        <h3>Implementation details</h3>

        <ul>
          <li>Toast messages should ideally be limited to no more than 50 characters</li>
          <li>Successful toast messages should not be manually dismissable</li>
          <li>The default time to display the toast is 3 seconds</li>
        </ul>
      </div>

      <div>
        <h3>Usage</h3>

        <p>This module requires the dependency <code>@angular/cdk</code> to dynamically render content</p>

        <markdown path="assets/modules/toasts/README.md"></markdown>

      </div>
    </div>
  </div>
</div>
