<div>
  <h2>Toasts</h2>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="alert alert-warning">
        This feature is currently <strong>styles only</strong>. The onus is on the developer to include the animations below as well as
        any logic required for showing / hiding / dismissing and queuing notifications This should be converted to an Angular module to include 
        functionality and logic.
      </div>
    
      <div class="toasts-container">
        <div class="toast toast-{{toast.typeId}}" *ngFor="let toast of toasts" [@slideInOut]>
          <i class="fa fa-check toast-icon" *ngIf="toast.typeId === 'success'"></i>
          <i class="fa fa-exclamation toast-icon" *ngIf="toast.typeId === 'error'"></i>
          <p class="toast-message">{{toast.message}}</p>
          <button class="close" *ngIf="toast.isDismissable" (click)="dismiss(toast)">&times;</button>
        </div>
      </div>

      <div>
        <button class="btn btn-primary" (click)="addSuccess()">Success</button>
        <button class="btn btn-danger" (click)="addError()">Error</button>
        <button class="btn btn-alt" (click)="addRandom()">Add Random</button>
      </div>

      <div>
        <h3>Implementation details</h3>

        <ul>
          <li>Toast messages should ideally be limited to no more than 50 character</li>
          <li>Successful toast messages should not be manually dismissable</li>
          <li>The default time to display the toast is 3 seconds</li>
        </ul>
      </div>

      <div style="margin-top: 32px;">
        <p>This feature uses the following Angular animations</p>

        <pre><code [innerHTML]="ngAnimations"></code></pre>
      </div>
    </div>
  </div>
</div>