<h2 class="page-header">Autofocus</h2>
<p>
    A directive that automatically focuses a focusable element when it is rendered in the DOM. This is useful for
    improving user experience by directing focus to the most relevant input when a view loads, such as a search field or
    the first form input.
</p>

<div class="tab-content">
    <h3>Importing</h3>
    <app-code [snippet]="importSnippet"></app-code>

    <hr />

    <h3>Usage</h3>
    <p>
        Apply the <code>nwAutofocus</code> directive to any focusable element. When the element is rendered, it will
        automatically receive focus.
    </p>

    <app-code-sandbox [snippet]="exampleSnippet">
        <input
            type="text"
            nwAutofocus
            placeholder="This input box is autofocused on load"
            class="form-control" />
    </app-code-sandbox>
</div>
