<div>
  <h2>Alerts</h2>
  
  <div class="alert alert-success" role="alert">
    Success alert
  </div>
  <div class="alert alert-info text-center" role="alert">
    Info alert (centered)
  </div>
  <div class="alert alert-warning" role="alert">
    Warning alert
  </div>
  <div class="alert alert-danger alert-dismissable" role="alert">
    Danger alert (dismissable)
    <button type="button" class="btn-unstyled close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
</div>
