<div>
  <h2 class="page-header">Pills</h2>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <h3>Sizes</h3>
      <div>
        <div class="pill pill-sm">
          <span class="pill-label">Pill label (.pill-sm)</span>
          <button class="close">&times;</button>
        </div>
      </div>

      <h3>States</h3>
      <div>
        <div class="pill pill-sm selected">
          <span class="pill-label">Selected</span>
          <button class="close">&times;</button>
        </div>

        <div class="pill pill-sm">
            <span class="pill-label">Default</span>
            <button class="close">&times;</button>
            </div>

        <div class="pill pill-sm disabled">
          <span class="pill-label">Disabled</span>
          <button class="close" disabled>&times;</button>
        </div>

        <div class="pill pill-sm pill-excluded">
          <span class="pill-label">Excluded</span>
          <button class="close">&times;</button>
        </div>

        <div class="pill pill-sm pill-editable">
          <span class="pill-label">Editable</span>
          <button class="close">&times;</button>
        </div>

        <div class="pill pill-sm invalid">
            <span class="pill-label">Invalid</span>
            <button class="close">&times;</button>
        </div>

        <div class="pill pill-sm invalid selected">
            <span class="pill-label">Invalid & selected</span>
            <button class="close">&times;</button>
        </div>
      </div>
    </div>
  </div>
</div>
