<h2 class="page-header">Relative Weighting</h2>

<p>
    Used in situations where we want to display the score / importance / relevance of one entity in comparison to
    another
</p>

<h3>Default</h3>

<app-code-sandbox [snippet]="defaultSnippet">
    @for (score of scores; track score) {
        <div class="rel-weight">
            <div
                class="rel-weight-bar"
                [style.width]="getWeight(score) + '%'">
                {{ score }}
            </div>
        </div>
    }
</app-code-sandbox>

<hr />

<h3>Alternative sizes</h3>

<app-code-sandbox [snippet]="sizesSnippet">
    <h4><code>.rel-weight</code></h4>
    <div class="rel-weight">
        <div
            class="rel-weight-bar"
            style="width: 33%">
            33
        </div>
    </div>

    <h4><code>.rel-weight-sm</code></h4>
    <div class="rel-weight rel-weight-sm">
        <div
            class="rel-weight-bar"
            style="width: 52%">
            52
        </div>
    </div>

    <h4><code>.rel-weight-lg</code></h4>
    <div class="rel-weight rel-weight-lg">
        <div
            class="rel-weight-bar"
            style="width: 13%">
            13
        </div>
    </div>
</app-code-sandbox>
