<div>
    <h2>Branding</h2>

    <h3>Icons</h3>

    <div class="row">
        <div class="col-sm-4 branding-image">
            <p>favicon.ico</p>
            <img src="assets/images/branding/favicons/favicon.ico" alt="" srcset="">

            <p>favicon-16x16.png</p>
            <img src="assets/images/branding/favicons/favicon-16x16.png" alt="" srcset="">

            <p>favicon-32x32.png</p>
            <img src="assets/images/branding/favicons/favicon-32x32.png" alt="" srcset="">
        </div>

        <div class="col-sm-4 branding-image">
            <p>safari-pinned-tab.svg</p>
            <img src="assets/images/branding/favicons/safari-pinned-tab.svg" alt="" srcset="">
        </div>

        <div class="col-sm-4 branding-image">
            <p>apple-touch-icon.png</p>
            <img src="assets/images/branding/favicons/apple-touch-icon.png" alt="" srcset="">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 branding-image">
            <p>android-chrome-192x192.png</p>
            <img src="assets/images/branding/favicons/android-chrome-192x192.png" alt="" srcset="">
        </div>

        <div class="col-sm-4 branding-image">
            <p>android-chrome-256x256.png</p>
            <img src="assets/images/branding/favicons/android-chrome-256x256.png" alt="" srcset="">
        </div>

        <div class="col-sm-4 branding-image">
            <p>android-chrome-512x512.png</p>
            <img src="assets/images/branding/favicons/android-chrome-512x512.png" alt="" srcset="">
        </div>
    </div>

    <p><em>Example head tag markup</em></p>
    <div class="row">
        <div class="col-sm-12">
            <pre><code [innerHTML]="escapeHtml(unsafeHeadTag)"></code></pre>
        </div>
    </div>

    <h3>Images</h3>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p>nw-logo-horizontal.png</p>
            <img src="assets/images/branding/nw-logo-horizontal.png" alt="" srcset="">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p>nw-logo-horizontal-dark.png</p>
            <img src="assets/images/branding/nw-logo-horizontal-dark.png" alt="" srcset="">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p>nw-logo-horizontal-white.png</p>
            <img src="assets/images/branding/nw-logo-horizontal-white.png" alt="" srcset="">
        </div>
    </div>

    <h3>Placeholder for articles without images</h3>

    <div class="row">
        <div class="col-sm-12">
            <p>nw-placeholder.png</p>
            <img src="assets/images/branding/nw-placeholder.png" alt="" srcset="">
        </div>
    </div>
</div>
