@import '../../_lib/sass/src/variables.scss';

@mixin quadrant($translation, $label-translation) {
    translate: $translation;

    .quadrant-label {
        translate: $label-translation;
    }
}

.scatterplot-container {
    background-color: $level3;
    width: fit-content;
}

.quadrant {
    cursor: zoom-in;

    path {
        fill: transparent;
        transition: fill 300ms linear;
    }

    .quadrant-label {
        opacity: 0;
        transition: opacity 300ms linear;
        fill: white;
        pointer-events: none;

        &.bolded {
            font-weight: bold;
        }
    }

    &.top-left {
        @include quadrant(0, -44px -26px);
    }

    &.top-right {
        @include quadrant(1px, 44px -26px);
    }

    &.bottom-right {
        @include quadrant(1px 1px, 44px 20px);
    }

    &.bottom-left {
        @include quadrant(0 1px, -44px 20px);
    }

    &.active,
    &.zoomed {
        path {
            fill: $level4;
        }

        .quadrant-label {
            opacity: 1;
        }
    }

    &.zoomed {
        cursor: zoom-out;
    }
}

.axis-label {
    font-size: 12px;
    fill: $text-color-secondary;

    .metric-value {
        font-weight: bold;
    }
}

.entity-group {
    pointer-events: bounding-box;
    transition: opacity 300ms linear;

    .entity-label-group {
        fill: $text-color-secondary;
        font-size: 12px;
        dominant-baseline: central;
    }

    &.active {
        .entity-label-group {
            fill: $text-color;
            text-shadow: -1px 0 1.5px $level3,
                0px -1px 1.5px $level3,
                1px 0px 1.5px $level3,
                0px 1px 1.5px $level3;
        }
    }
}

.has-active-group {
    .entity-group:not(.active) {
        opacity: 0.6;
    }
}

.zoomed-quadrant-top-left {
    .quadrant.top-right { cursor: e-resize; }
    .quadrant.bottom-right { cursor: se-resize; }
    .quadrant.bottom-left { cursor: s-resize; }
}

.zoomed-quadrant-top-right {
    .quadrant.top-left { cursor: w-resize; }
    .quadrant.bottom-right { cursor: s-resize; }
    .quadrant.bottom-left { cursor: sw-resize; }
}

.zoomed-quadrant-bottom-right {
    .quadrant.top-left { cursor: nw-resize; }
    .quadrant.top-right { cursor: n-resize; }
    .quadrant.bottom-left { cursor: w-resize; }
}

.zoomed-quadrant-bottom-left {
    .quadrant.top-left { cursor: n-resize; }
    .quadrant.top-right { cursor: ne-resize; }
    .quadrant.bottom-right { cursor: e-resize; }
}