<h1 class="page-header">NewsWhip Style Guide</h1>

<p>Angular version: {{version.full}}</p>

<div class="scatterplot-container">
    <svg nw-chart
        style="width: 700px; height: 700px; display: block;"
        [margins]="chartMargins"
        [class.has-active-group]="activeGroup"
        (mouseleave)="onChartMouseleave()">
    
        <g *ngFor="let q of quadrants"
            class="quadrant nw-slot-2"
            [ngClass]="q.id"
            [class.active]="q.id === activeQuadrant?.id"
            (mouseenter)="onQuadrantMouseenter(q)">
            <path
                [nw-area]="q.area"
                [xDomain]="xDomain"
                [yDomain]="yDomain"></path>

            <text class="quadrant-label" *ngFor="let label of q.labels; let index = index"
                [ngClass]="label.className"
                [nw-text]="label.point"
                [xDomain]="xDomain"
                [yDomain]="yDomain"
                [xScale]="axisScale"
                [attr.text-anchor]="label.textAnchor"
                [attr.dy]="15 * index">{{label.value}}</text>
        </g>

        <g *ngFor="let label of axisLabels">
            <text class="axis-label"
                [nw-text]="label.point"
                [xDomain]="xDomain"
                [yDomain]="yDomain"
                [xScale]="axisScale"
                [attr.text-anchor]="label.textAnchor"
                [style.translate]="label.translate">
                <tspan x="0" class="metric-value">{{label.value}}</tspan>
                <tspan x="0" dy="1.2em" class="metric-label">{{label.label}}</tspan>
            </text>
        </g>
    
        <!-- Axes -->
        <g class="nw-slot-2 x axis" nw-x-axis
            [domain]="xDomain"
            [scale]="axisScale"
            [tickFormat]="axisTickFormat"
            [tickCount]="0"
            [tickSizeOuter]="0"
            [align]="'center'"></g>
    
        <g class="nw-slot-2 y axis" nw-y-axis
            [domain]="yDomain"
            [tickFormat]="axisTickFormat"
            [tickCount]="0"
            [tickSizeOuter]="0"
            [align]="'center'"></g>
    
        <!-- <ng-container *ngFor="let entity of entities">
            <circle [nw-circle]="[entity.x, entity.y]"
                [xDomain]="xDomain"
                [yDomain]="yDomain"
                [nwTooltip]="circleTooltipTmpl"
                [context]="{ entity: entity }"
                r=5
                fill="#3D81FF"></circle>
        </ng-container> -->

        <!-- <ng-container *ngFor="let square of squares">
            <circle
                [nw-circle]="[square.x, square.y]"
                [xDomain]="xDomain"
                [yDomain]="yDomain"
                r=3
                fill="green"></circle>

            <text class="entity-label-group"
                [attr.data-id]="square.position"
                [nw-text]="[square.x, square.y]"
                [xDomain]="xDomain"
                [yDomain]="yDomain"
                [xScale]="axisScale"
                [attr.text-anchor]="square.textAnchor"
                [attr.dy]="square.dy"
                fill="white"
                font-size="10px">
                {{square.position}}
            </text>
        </ng-container> -->

        <ng-container *ngFor="let group of groupedEntities">
            <ng-container *ngTemplateOutlet="entityGroupTmpl; context: { group }"></ng-container>
        </ng-container>

        <ng-template #entityGroupTmpl let-group="group">
            <g class="entity-group"
                (mouseenter)="onGroupMouseenter(group)"
                (mouseleave)="onGroupMouseleave()"
                [class.active]="group === activeGroup">
                <circle
                    [nw-circle]="[group.x, group.y]"
                    [xDomain]="xDomain"
                    [yDomain]="yDomain"
                    r=5
                    fill="#3D81FF"></circle>
        
                <text class="entity-label-group"
                    [nw-text]="[group.x, group.y]"
                    [xDomain]="xDomain"
                    [yDomain]="yDomain"
                    [xScale]="axisScale"
                    [attr.text-anchor]="group.positionDetails.textAnchor"
                    [style.translate]="group.translate">
                    <tspan *ngFor="let entity of group.entities | slice:0:(group === activeGroup ? Infinity : maxEntitiesToDisplay); let index = index"
                        x="0"
                        [attr.dx]="group.positionDetails.dx"
                        [attr.dy]="group.positionDetails.dy"
                        class="entity-label">{{entity.name}}</tspan>
        
                    <tspan *ngIf="group !== activeGroup && group.entities.length > maxEntitiesToDisplay"
                        x="0"
                        [attr.dx]="group.positionDetails.dx"
                        [attr.dy]="group.positionDetails.dy">+ {{group.entities.length - maxEntitiesToDisplay}} more</tspan>
                </text>
            </g>
        </ng-template>
        <!-- <g class="entity-group" *ngFor="let group of groupedEntities"
            [class.active]="group === activeGroup">
            <circle
                [nw-circle]="[group.x, group.y]"
                [xDomain]="xDomain"
                [yDomain]="yDomain"
                r=5
                fill="#3D81FF"></circle>

            <text class="entity-label-group"
                (mouseenter)="onGroupMouseenter(group)"
                (mouseleave)="onGroupMouseleave()"
                [nw-text]="[group.x, group.y]"
                [xDomain]="xDomain"
                [yDomain]="yDomain"
                [xScale]="axisScale"
                [attr.text-anchor]="group.positionDetails.textAnchor"
                [style.translate]="group.translate">
                <tspan *ngFor="let entity of group.entities | slice:0:(group === activeGroup ? Infinity : maxEntitiesToDisplay); let index = index"
                    x="0"
                    [attr.dx]="group.positionDetails.dx"
                    [attr.dy]="group.positionDetails.dy"
                    class="entity-label">{{entity.name}}</tspan>

                <tspan *ngIf="group !== activeGroup && group.entities.length > maxEntitiesToDisplay"
                    x="0"
                    [attr.dx]="group.positionDetails.dx"
                    [attr.dy]="group.positionDetails.dy">+ {{group.entities.length - maxEntitiesToDisplay}} more</tspan>
            </text>
        </g> -->
    </svg>
</div>

<ng-template #circleTooltipTmpl let-entity="entity">
    {{entity | json}}
</ng-template>