@mixin button-variant($color, $color-hover, $background, $bg-hover, $border: $background, $border-hover: $bg-hover) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover {
        color: $color-hover;
        background-color: $bg-hover;
        border-color: $border-hover;
    }
    &.active {
        color: $color-hover;
        background-color: darken($bg-hover, 10%);
        border-color: darken($border-hover, 10%);
    }
    // Override active button state for dropdown toggles
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color-hover;
        background-color: $bg-hover;
        border-color: $border-hover;
        box-shadow: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: $background;
            border-color: $border;

            &.btn-close {
                &:before, &:after {
                    background-color: $color;
                }
            }
        }
    }
    .badge {
        color: $background;
        background-color: $color;
    }
    &.btn-close {
        &:before, &:after {
            background-color: $color;
        }
        &:hover {
            &:before, &:after {
                background-color: $color-hover;
            }
        }
    }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

@mixin button-round($font-size, $line-height, $padding-vertical) {
    @include button-square($font-size, $line-height, $padding-vertical);
    font-size: $font-size * 1.2;
    font-weight: 100;
    border-radius: 50%;
}

@mixin button-square($font-size, $line-height, $padding-vertical) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    width:  floor($font-size * $line-height) + ($padding-vertical * 2) + 1 + 1;
    height: floor($font-size * $line-height) + ($padding-vertical * 2) + 1 + 1;
}

@mixin button-close($font-size, $line-height, $padding-vertical) {
    @include button-square($font-size, $line-height, $padding-vertical);
    line-height: 0;

    &:before, &:after {
        content: '';
        height: 2px;
        width: 50%;
        position: absolute;
    }

    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
