@mixin button-variant($color, $color-hover, $background, $bg-hover, $border: $background, $border-hover: $bg-hover) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover {
        color: $color-hover;
        background-color: $bg-hover;
        border-color: $border-hover;
    }
    &.active {
        color: $color-hover;
        background-color: darken($bg-hover, 10%);
        border-color: darken($border-hover, 10%);
    }
    // Override active button state for dropdown toggles
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color-hover;
        background-color: $bg-hover;
        border-color: $border-hover;
        box-shadow: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

@mixin button-round($font-size, $line-height, $padding-vertical) {
    @include button-square($font-size, $line-height, $padding-vertical);
    font-size: $font-size * 1.2;
    font-weight: 100;
    border-radius: 50%;
}

@mixin button-close($font-size, $line-height, $padding-vertical) {
    @include button-square($font-size, $line-height, $padding-vertical);
    line-height: 0;

    &:before {
        @include close-character(45deg);
    }

    &:after {
        @include close-character(-45deg);
    }
}

@mixin button-square($font-size, $line-height, $padding-vertical) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    width:  floor($font-size * $line-height) + ($padding-vertical * 2) + 1 + 1;
    height: floor($font-size * $line-height) + ($padding-vertical * 2) + 1 + 1;
}

@mixin close-character($rotationDegrees) {
    content: '';
    height: 2px;
    background-color: #fff;
    width: 60%;
    position: absolute;
    transform: rotate($rotationDegrees);
}
