@mixin dropdown-menu-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    background-color: transparent;
    border: none;
    user-select: none;
    padding: 8px 16px;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
    }
}

@mixin dropdown-menu-link-active {
    &,
    &:hover,
    &:focus-visible {
        color: $dropdown-link-active-color;
        background-color: $dropdown-link-active-bg;
    }
}

@mixin dropdown-menu-link-disabled {
    opacity: 0.5;
    cursor: $cursor-disabled;
    color: $dropdown-link-color;
}