@mixin dropdown-menu-link {
    display: block;
    padding: 8px 16px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
    }
}

@mixin dropdown-menu-link-active {
    &,
    &:hover,
    &:focus {
        color: $dropdown-link-active-color;
        background-color: $dropdown-link-active-bg;
    }
}

@mixin dropdown-menu-link-disabled {
    opacity: 0.5;
    cursor: $cursor-disabled;
    color: $dropdown-link-color;
}