@use '../variables' as vars;

@mixin dropdown-menu-link {
    display: block;
    padding: 8px 16px;
    clear: both;
    font-weight: normal;
    line-height: vars.$line-height-base;
    color: vars.$dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        color: vars.$dropdown-link-hover-color;
        background-color: vars.$dropdown-link-hover-bg;
    }
}

@mixin dropdown-menu-link-active {
    &,
    &:hover,
    &:focus {
        color: vars.$dropdown-link-active-color;
        background-color: vars.$dropdown-link-active-bg;
    }
}

@mixin dropdown-menu-link-disabled {
    opacity: 0.5;
    cursor: vars.$cursor-disabled;
    color: vars.$dropdown-link-color;
}