@mixin scrollbars($size: .5em, $foreground-color: $divider-color-primary, $background-color: $divider-color-primary) {
    // For Google Chrome
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: #{$size*0.5};
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: #{$size*0.5};
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: transparent;
    }
}
