@import '../../_lib/sass/src/variables.scss';

.word-cloud-container {
    width: 400px;
    height: 400px;
    margin-top: 16px;
    background-color: $level2;
    border-radius: $border-radius-large;

    nw-word {
        color: $text-color-secondary;

        &:hover {
            color: $text-color;
        }
    }
}

h4, h5 {
    margin: 16px 0;
}