@use 'nw-style-guide/sass/src/variables';

.word-cloud-container {
    width: 400px;
    height: 400px;
    margin-top: 16px;
    background-color: variables.$level2;
    border-radius: variables.$border-radius-large;
    resize: both;
    overflow: hidden;

    nw-word {
        color: variables.$text-color-secondary;

        &:hover {
            color: variables.$text-color;
        }
    }
}

h4, h5 {
    margin: 16px 0;
}